@charset "utf-8";
@import "lib/common";

.wrap{
    overflow: hidden;
	.hide{
		display: none;
	}
	.main{
		.best-box{
			.title{
	    		overflow: hidden;
	    		font-size: 24px;
	    		ul{
	    			float: left;
	    		}
	    		.publish{
	    			float: right;
	    			position: relative;
					width: 140px;
					height: 50px;
					line-height: 50px;
					margin-top: 40px;
					border-radius: 4px;
					padding-left: 50px;
					@include box-sizing;
	    			background: $b9;
	    			font-size: 18px;
					color: $white;
					&:hover{
						background: $orange;
					}
					&:before{
				        content: '';
				        background: url('../images/icon/search-1.png') no-repeat;
				        background-size: 100%;
					    position: absolute;
					    top: 22%;
					    left: 15px;
					    width: 28px;
					    height: 28px;
				    }
	    		}
	    		li{
	    			float: left;
	    			margin: 50px 14px 21px 0;
	    			color: $b9;
	    		}
	    		.active{
	    			color: $b3;
	    		}
	    	}
			.list{
				width: 100%;
			}
		}
	}
}