@charset "utf-8";
@import "lib/common";

.wrap{
    overflow: hidden;
	.hide{
		display: none;
	}
	// .main{
	// 	overflow: hidden;
	// }
	.crumbs-white{
		line-height: 30px;
		font-size: 12px;
		color: #000;
		a{
			color: #000;
		}
	}
	.detail-head{
		position: relative;
		height: 410px;
		background: #f4f4f4;
		&:before{
		    content: '';
		    position: absolute;
		    bottom: 80px;
		    left: 0;
		    z-index: 9;
		    width: 100%;
		    height: 112px;
		    background: #000;
		    opacity: 0.6;
		    background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(255, 255, 255, 0.01)), to(#000));
		}
		.theme-img{
			position: absolute;
			top: 0;
			width: 100%;
			height: 330px;
			&:before{
			    content: '';
			    position: absolute;
			    bottom: 80px;
			    left: 0;
			    width: 100%;
			    height: 112px;
			    background: #000;
			    opacity: 0.6;
			    background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(255, 255, 255, 0.01)), to(#000));
			}
		}
		dl{
			position: absolute;
		    top: 264px;
		    left: 0;
		    z-index: 99;
		    width: 100%;
		    @include box-sizing;
		    padding-left: 10px;
		}
		dt,dd{
			float: left;
		}
		dt{
			img{
				width: 120px;
				height: 120px;
				border-radius: 50%;
			}
		}
		dd{
			width: 87.75%;
			.title{
    			margin: 20px 0 0 20px;
				font-size: 22px;
    			color: #fff;
			}
			.user-con{
				overflow: hidden;
				height: 95.77px;
				.user-tags{
					float: left;
    				width: 40%;
					.user-info{
						padding: 30px 0 0 20px;
						color: $b3;
						.user-name{
							margin-right: 20px;
							font-size: 18px;
						}
						.browse{
							font-size: 12px;
						}	
					}
					.tag-list{
						margin: 10px 0 0 20px;
					}
				}
				.nums{
					float: right;
					overflow: hidden;
					padding-top: 20px;
					font-size: 14px;
					li{
						position: relative;
						float: left;
						width: 100px;
						height: 60px;
						padding-top: 20px;
						// @include box-sizing;
						border-left: solid 1px #ddd;
						cursor: pointer;
						line-height: 80px;
						text-align: center;
						&:last-child{
							border-right: solid 1px #e7e7e7;
						}
						&:hover{
							background: #ddd;
						}
					}
					.zan-num{
						position: relative;
						&:before{
							content: '';
		                    background: url("../images/icon/detail-zan.png") no-repeat;
		                  	background-size: 100%;
		                  	position: absolute;
		                  	top: 22%;
						    left: 36%;
						    width: 24px;
						    height: 26px;
						}
						em{
							position: absolute;
					    	top: -9px;
						    right: 30%;
						    width: 15px;
						    height: 15px;
						    color: #fff;
					    }
					    .move{
							animation:mymove 2s infinite normal forwards;
	            			-moz-animation:mymove 2s infinite normal forwards;
	            			animation-iteration-count: 1;
					    }
					    @keyframes mymove{
				            0% {
				                top: -9px;
				                opacity: 1;
				            }
				            100%{
				                top: -30px;
				                opacity: 0;
				            }
				        }
					}
					.zan-num.active{
						&:before{
							content: '';
		                    background: url("../images/icon/detail-zan-active.png") no-repeat;
		                  	background-size: 100%;
		                  	position: absolute;
		                  	top: 22%;
						    left: 36%;
						    width: 24px;
						    height: 26px;
						}
					}
					.collect-num{
						&:before{
							content: '';
		                    background: url("../images/icon/detail-fav.png") no-repeat;
		                  	background-size: 100%;
		                  	position: absolute;
		                  	top: 22%;
						    left: 36%;
						    width: 24px;
						    height: 26px;
						}
					}
					.collect-num.active{
						&:before{
							content: '';
		                    background: url("../images/icon/detail-fav-active.png") no-repeat;
		                  	background-size: 100%;
		                  	position: absolute;
		                  	top: 22%;
						    left: 36%;
						    width: 24px;
						    height: 26px;
						}
					}
					.browse-num{
						&:before{
							content: '';
		                    background: url("../images/icon/detail-com.png") no-repeat;
		                  	background-size: 100%;
		                  	position: absolute;
		                  	top: 22%;
						    left: 36%;
						    width: 24px;
						    height: 26px;
						}
					}
					.share-num{
						&:before{
							content: '';
		                    background: url("../images/icon/detail-share.png") no-repeat;
		                  	background-size: 100%;
		                  	position: absolute;
		                  	top: 22%;
						    left: 36%;
						    width: 24px;
						    height: 26px;
						}
					}
				}
				.share-box{
					position: absolute;
				    right: -7px;
				    bottom: -46px;
				    width: 15%;
				}
			}
		}
	}

	.detail-container{
		overflow: hidden;
		.article{
			float: left;
			width: 670px;
			padding-top: 75px;
			.basic-info{
				width: 657px;
    			height: 60px;
    			line-height: 60px;
    			@include box-sizing;
    			padding: 0 20px;
    			background: #fafafa;
    			font-size: 12px;
				li{
					position: relative;
					float: left;
					margin-right: 50px;
					padding-left: 30px;
				}
				.time{
					&:before{
						content: '';
	                    background: url("../images/icon/detail-time.png") no-repeat;
	                  	background-size: 100%;
	                  	position: absolute;
	                  	top: 34%;
					    left: 6%;
					    width: 18px;
					    height: 18px;
					}
				}
				.day{
					&:before{
						content: '';
	                    background: url("../images/icon/detail-day.png") no-repeat;
	                  	background-size: 100%;
	                  	position: absolute;
	                  	top: 34%;
					    left: 6%;
					    width: 18px;
					    height: 18px;
					}
				}
				.money{
					&:before{
						content: '';
	                    background: url("../images/icon/detail-money.png") no-repeat;
	                  	background-size: 100%;
	                  	position: absolute;
	                  	top: 34%;
					    left: 6%;
					    width: 18px;
					    height: 18px;
					}
				}
			}
			.journey-box{
				margin: 30px 0 52px;
				.day{
					overflow: hidden;
					padding-top: 50px;
					.day-tit{
						padding-bottom: 15px;
						text-align: center;
						font-size: 30px;
					}
					.journey{
						overflow: hidden;
						margin-top: 22px;
						.journey-tit{
							font-size: 20px;
							color: #f1762c;
							margin-bottom: 26px;
						}
						.article-txt{
							line-height: 26px;
							padding-bottom: 26px;
							font-size: 16px;
						}
						.article-img{
							width: 100%;
							margin: 16px 0;
							&:last-child{
								margin: 0;
							}
						}
						.article-option{
							float: right;
							font-size: 14px;
							color: #999999;
							li{
								position: relative;
								float: left;
								padding-left: 20px;
								&:first-child{
									margin-right: 18px;
								}
							}
							.zan{
								&:before{
							        content: '';
							        background: url('../images/icon/list-zan.png') no-repeat;
							        background-size: 100%;
								    position: absolute;
								    top: -2px;
								    left: 0;
								    width: 12px;
								    height: 15px;
							    }
							}
							.comment{
								&:before{
							        content: '';
							        background: url('../images/icon/list-comment.png') no-repeat;
							        background-size: 80%;
								    position: absolute;
								    top: 16%;
								    left: 0;
								    width: 16px;
								    height: 12px;
							    }
							}
						}
					}
				}
			}
			.options-box{
				width: 125px;
				margin: 0 auto 48px;
				cursor: pointer;
				cursor: hand;
			    .zan{
			    	position: relative;
				    height: 125px;
				    line-height: 125px;
				    padding-top: 30px;
				    @include box-sizing;
				    border-radius: 50%;
				    background: url('../images/icon/detail-big-zan.png') no-repeat;
				    background-size: 100% 100%;
				    text-align: center;
				    color: #fff;
				    font-size: 14px;
				    em{
						position: absolute;
				    	top: -9px;
					    right: 30%;
					    width: 15px;
					    height: 15px;
				    }
				    .move{
						animation:mymove 2s infinite normal forwards;
            			-moz-animation:mymove 2s infinite normal forwards;
            			animation-iteration-count: 1;
				    }
				    @keyframes mymove{
			            0% {
			                top: -9px;
			                opacity: 1;
			            }
			            100%{
			                top: -40px;
			                opacity: 0;
			            }
			        }
			    }
			    .collect-share{
			    	overflow: hidden;
			    	margin-top: 14px;
			    	li{
			    		position: relative;
			    		float: left;	
			    		width: 27px;
			    		height: 24px;
			    		line-height: 24px;
			    		padding: 0 5px 0 23px;
			    		// @include box-sizing;
			    		border: solid 1px #ccc;
			    		border-radius: 4px;
			    		color: $b9;
			    		text-align: center;
			    		cursor: pointer;
			    		cursor: hand;
			    		&:first-child{
			    			margin-right: 10px;
			    		}
			    		&:hover{
			    			color: $white;
			    			background: $orange;
			    			border: solid 1px $orange;
			    		}
			    	}
			    	.collect{
						&:before{
							content: '';
		                    background: url("../images/icon/detail-s-fav.png") no-repeat;
		                  	background-size: 100%;
		                  	position: absolute;
		                  	top: 16%;
						    left: 13%;
						    width: 15px;
						    height: 15px;
						}
						&:hover{
							&:before{
								content: '';
			                    background: url("../images/icon/detail-s-fav-white.png") no-repeat;
			                  	background-size: 100%;
			                  	position: absolute;
			                  	top: 16%;
							    left: 13%;
							    width: 15px;
							    height: 15px;
							}
						}
			    	}
			    	.share{
						&:before{
							content: '';
		                    background: url("../images/icon/detail-s-share.png") no-repeat;
		                  	background-size: 100%;
		                  	position: absolute;
		                  	top: 16%;
						    left: 13%;
						    width: 13px;
						    height: 15px;
						}
						&:hover{
							&:before{
								content: '';
			                    background: url("../images/icon/detail-s-share-white.png") no-repeat;
			                  	background-size: 100%;
			                  	position: absolute;
			                  	top: 16%;
							    left: 13%;
							    width: 13px;
							    height: 15px;
							}
						}
			    	}
			    }
			}
		}
		.menu-box{
			float: right;	
			width: 290px;
			padding-left: 30px;
			// @include box-sizing;
			font-size: 20px;
			.title{
				margin: 32px 0 18px;
			}
			.chapter-box {
				position: relative;
				overflow: hidden;
			    width: 290px;
			    .scrollbar{
			    	position: absolute;
				    right: 0;
				    top: 0;
				    width: 5px;
				    height: 100px;
				    background-color: #d6d6d6;
				    border-radius: 10px;
				    cursor: pointer;
			    }
			}

			.contentHolder { 
				position:relative; 
				overflow: hidden;
				margin:0px auto; 
				padding:0px; 
				width: 290px;   
			}

			.menu{
			    margin-left: 16px;
			    border-left: solid 1px #ccc;
			    p{
			      	margin-left: 14px;
			      	line-height: 40px;
			    }
			    .item-tit{
			      position: relative;
			      font-size: 16px;
			      a{
			      	color: #353535;
			      }
			      &:before{
			        content: '';
			        position: absolute;
			        top: 38%;
			        left: -21px;
			        width: 8px;
			        height: 8px;
			        background: #868686;
			        border-radius: 50%;
			        border: solid 2px #fff;
			      }
			    }
			    .item-txt{
				    font-size: 14px;
				    a{
				    	color: #797979;
				    }
				    i{
				        margin-right: 4px;
				        letter-spacing: 2px;
				        color: #ececec;
				    }
			    }
			    .active{
			      	position: relative;
			      	padding-left: 5px;
			      	a{
			      		color: #f1752b;
			      	}
			      // &:before{
			      //   content: '';
			      //   background: url('../images/icons/menu-active.png');
			      //   position: absolute;
			      //   top: 38%;
			      //   left: -18px;
			      //   width: 8px;
			      //   height: 8px;
			      //   background: #868686;
			      //   border-radius: 50%;
			      //   border: solid 1px #fff;
			      // }
			      	i{
			        	color: #f1752b;
			      	}
					.chapter-icon{
				    	position: absolute;
					    width: 14px;
					    height: 14px;
					    background-color: #f1752b;
					    -webkit-border-radius: 2px 0 0 2px;
					    -moz-border-radius: 2px 0 0 2px;
					    border-radius: 2px 0 0 2px;
					    left: -22px;
					    top: 12px;
					    &:before {
					      content: "";
					      position: absolute;
					      border: 7px solid transparent;
					      border-left-color: #f1752b;
					      right: -14px;
					    }
				    }
			    }
		  	}
			// .chapter-icon {
			//     position: absolute;
			//     width: 14px;
			//     height: 14px;
			//     background-color: #f1752b;
			//     -webkit-border-radius: 2px 0 0 2px;
			//     -moz-border-radius: 2px 0 0 2px;
			//     border-radius: 2px 0 0 2px;
			//     left: 7px;
			//     top: 12px;
			//     &:before {
			//       content: "";
			//       position: absolute;
			//       border: 7px solid transparent;
			//       border-left-color: #f1752b;
			//       right: -14px;
			//     }
			// }
		}
		.menu-fixed{
		    position: fixed;
		    top: 0;
		    bottom: 0;
			margin-left: 670px;
		}
		.ie{   
	        _position: absolute;  
	        _clear: both;   
	        _top:expression(eval(document.compatMode &&   
	               document.compatMode=='CSS1Compat') ?   
	               documentElement.scrollTop   
	               +(documentElement.clientHeight-this.clientHeight) - 1   
	               : document.body.scrollTop   
	               +(document.body.clientHeight-this.clientHeight) - 1); 
		}
		@media screen and (min-width:1600px){
			.menu-fixed{
			    position: fixed;
			    top: 0;
		    	bottom: 0;
				margin-left: 670px;
			}
		}
	}

	.correlation-container{
		padding-bottom: 40px;
		background: #f8f8f8;
		.correlation-con{
			overflow: hidden;
			width: 990px;
			margin: 0 auto;
		}
		.world-box{
			float: left;
			.box-title{
				height: 86px;
				h4{
					width: initial;
				}
			}
			.grid-box{
				overflow: hidden;
				width: 654px;
				.grid{
					width: 672px;
					.grid-item{
						width: 316px;
						// &:nth-child(odd){
						// 	margin: 0 20px 20px 0;
						// }
						// &:nth-child(even){
						// 	margin-right: 0;
						// }
					}
				}
			}
		}
	}
	
	.comment-container{
		.comment-con{
			overflow: hidden;
			width: 990px;
			margin: 0 auto;
			padding-top: 70px;
			.comment-box{
				position: relative;
				float: left;
				width: 670px;
				textarea{
					width: 100%;
					height: 115px;
					margin-bottom: 14px;
					border: solid 1px $b3;
					padding: 8px;
					padding-bottom: 30px;
					@include box-sizing;
					color: $b9;
					font-size:12px; 
					&:focus{
						border: solid 1px $blue;
						box-shadow: -1px -1px 10px #ccc,1px 1px 10px #ccc;
					}
				}
				.txt-num{
					position: absolute;
				    right: 20px;
				    top: 90px;
				    font-size: 14px;
				    color: $b9;
				    em{
				    	color: $orange;
				    }
				}
				.emoji-btn{
					overflow: hidden;
					padding-left: 14px;
					font-size: 14px;
					cursor: pointer;
					cursor: hand;
					.emoji{
						position: relative;
						float: left;
						padding: 10px 0 0 20px;
						color: #1a8ced;
						&:before{
							content: '';
		                    background: url("../images/icon/detail-comment.png") no-repeat;
		                  	background-size: 90%;
		                  	position: absolute;
		                  	top: 40%;
						    left: 0;
						    width: 18px;
						    height: 18px;
						}
					}
					.btn{
						float: right;
						width: 100px;
						height: 40px;
						line-height: 40px;
						background: #1a8ced;
						text-align: center;
						color: #fff;
					}
				}
				.qq-face{
					width: 492px;
				    padding: 20px;
					min-height: 100px;
					position: relative;
				    z-index: 1;
				    border: 1px solid #1a8ced;
				    -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.15);
				    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.15);
				    .pop-content{
					    &:before{
					    	content: "";
						    border: 6px solid transparent;
						    border-bottom-color: #1a8ced;
						    position: absolute;
						    top: -12px;
						    left: 14px;
					    }
					}
					.pop-content-info{
					    ul{
					    	overflow: hidden;
					    	li{
							    float: left;
							    margin: 2px;
					    		width: 26px;
							    height: 26px;
							    a{
							    	display: block;
								    float: left;
								    overflow: hidden;
								    text-align: center;
								    width: 26px;
								    height: 26px;
								    line-height: 24px;
								    border: 1px solid #e8e8e8;
    								background-color: #fff;
							    }
					    	}
					    }
					}
				}
				.comment-list{
					margin-top: 52px;
					.comment-tit{
						overflow: hidden;
						font-size: 24px;
						li{
							float: left;
							padding: 0 16px 25px 0;
							margin-right: 16px;
						}
						.active{
							&:after{
								content: '';
						        background: url('../images/icon/border-bottom.png') no-repeat;
						        background-size: 100%;
							    position: absolute;
							    bottom: 0;
							    left: 0;
							}
						}
					}
					.comment-content{
						overflow: hidden;
						padding: 30px 0 20px 18px;
						border-bottom: solid 1px #ccc;
						dt,dd{
							float: left;
						}
						dt{
							width: 48px;
							height: 48px;
							margin-right: 12px;
							img{
								width: 100%;
								height: 100%;
							}
						}
						dd{
							width: 590px;
							.title,.time-floor{
								float: left;
							}
							.title{
								width: 78%;
								margin-bottom: 18px;
								font-size: 16px;
							}
							.time-floor{
								font-size: 12px;
								color: #999999;
							}
							.user{
								overflow: hidden;
								padding: 10px 13px;
								margin-top: 23px;
								background: #f4f4f4;
								.user-img{
									width: 32px;
									height: 32px;
									margin-right: 15px;
									font-size: 12px;
								}
								.user-tit{

								}
								.user-txt{
									margin-top: 10px;
									line-height: 25px;
								}
							}
						}
						.comment-box{
							width: 634px;
						}
						.reply{
							width: 634px;
							margin-top: 20px;
    						text-align: right;
    						font-size: 12px;
    						color: $b6;
							a{
								padding-right: 10px;
								border-right: solid 1px #ccc;
								color: $b6;
							}
    						span{
    							&:nth-child(2){
    								padding: 0 10px;
    								border-right: solid 1px #ccc;
    							}
    							&:last-child{
    								padding-left: 10px; 
    							}
    						}
						}
					}
				}
			}
		}
	}
}