@charset "utf-8";
@import "lib/common";

.wrap{
    overflow: hidden;
	.hide{
		display: none;
	}

	.main{
		position: relative;
		.to-index{
			position: absolute;
			top: 29%;
		    left: 40%;
		    width: 300px;
		    height: 80px;
		}
	}
}