@charset "UTF-8";
html {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight: transparent;
  -webkit-text-size-adjust: none;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  font-family: "Microsoft YaHei", Arial, "Hiragino Sans GB W3", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif; }

/*body {font-size: 0.75em;}*/
label {
  cursor: pointer; }

a:link, a:visited {
  text-decoration: none; }

input:focus {
  outline: none; }

input, button, select, textarea {
  outline: none;
  /*-webkit-appearance:none;*/
  /*强制去除表单自带的样式*/ }

textarea {
  resize: none;
  /*-webkit-appearance:none;*/
  /*强制去除textarea自带的样式*/ }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset; }

/*利用阴影来填充掉input自动填充色*/
textarea, input, select {
  background: none;
  border: none;
  margin: 0;
  padding: 0; }

a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
  margin: 0;
  padding: 0; }

article, aside, footer, header, hgroup, nav, section, figure, figcaption {
  display: block; }

/*html5设置*/
h1, h2, h3, h4, h5, h6, th, td, table, input, button, select, textarea, sub {
  font-size: 1em; }

body, input, button, select, textarea, sub {
  font-family: Arial, sans-serif; }

em, cite, address, optgroup {
  font-style: normal; }

kbd, samp, code {
  font-family: monospace; }

img, input, button, select, textarea {
  vertical-align: middle;
  outline: none; }

ul, ol {
  list-style: none; }

img, fieldset {
  border: 0; }

abbr, acronym {
  cursor: help;
  border-bottom: 1px dotted #000; }

table {
  width: 100%;
  border-spacing: 0;
  border: 0; }

table th, table td {
  border: 0; }

legend, hr {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0; }

/*legend,hr,caption {visibility: hidden;font-size: 0;width: 0;height: 0;line-height: 0;}*/
.hidden {
  display: none; }

.clearfix:after {
  content: '';
  display: block;
  overflow: hidden;
  visibility: hidden;
  clear: both; }

a {
  outline: none; }

/*night*/
.wrap {
  font-size: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*头部*/ }
  .wrap .cursor {
    cursor: pointer;
    cursor: hand; }
  .wrap .head {
    width: 100%;
    height: 33px;
    line-height: 33px;
    background: #2182cf;
    color: #fff; }
    .wrap .head .container {
      width: 990px;
      margin: 0 auto; }
    .wrap .head .login-register {
      position: relative;
      float: right;
      width: 45%; }
      .wrap .head .login-register li {
        float: left;
        color: #aaa; }
        .wrap .head .login-register li a {
          display: inline-block;
          width: 30px;
          text-align: center;
          color: #fff; }
      .wrap .head .login-register .msg {
        margin-left: 10px;
        cursor: pointer;
        cursor: hand; }
        .wrap .head .login-register .msg:hover {
          background: #fff; }
          .wrap .head .login-register .msg:hover span {
            color: #f1762c; }
        .wrap .head .login-register .msg span {
          padding: 0 30px 0 15px;
          border-left: solid 1px #fff; }
        .wrap .head .login-register .msg .msg-con {
          position: absolute;
          left: 0;
          z-index: 999;
          width: 259px;
          padding: 5px 0;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          background: #fff;
          border: solid 1px #e7e7e7; }
          .wrap .head .login-register .msg .msg-con li {
            width: 100%;
            padding: 0 10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            color: #1a8ced; }
            .wrap .head .login-register .msg .msg-con li:hover {
              background: #f8f8f8; }
  .wrap .main {
    /*标签选择器*/
    /*玩转周边*/
    /*玩转世界*/
    /*精彩游记*/
    /*最热最新*/
    /*列表 标签在下边*/
    /*带logo的搜索框*/
    /*白色背景的面包屑导航*/
    /*模块标题 更多*/
    /*横向排列标签*/
    /*查看更多按钮*/ }
    .wrap .main .min-width {
      width: 990px;
      margin: 0 auto; }
    .wrap .main .tags-search {
      border: solid 1px #e4e4e4;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .wrap .main .tags-search .tags-list {
        overflow: hidden;
        background: #f4f4f4; }
        .wrap .main .tags-search .tags-list:last-child .tags-con {
          border: 0; }
        .wrap .main .tags-search .tags-list .tit {
          float: left;
          width: 10%;
          line-height: 50px;
          padding: 0;
          padding-left: 15px;
          margin: 0;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          font-size: 14px;
          font-weight: bold; }
        .wrap .main .tags-search .tags-list .tag-box {
          float: left;
          width: 90%;
          background: #fff; }
        .wrap .main .tags-search .tags-list .tags-con {
          overflow: hidden;
          margin-left: 18px;
          border-bottom: solid 1px #e4e4e4; }
        .wrap .main .tags-search .tags-list li {
          float: left;
          margin: 13px 0 12px 20px;
          height: 24px;
          line-height: 24px;
          padding: 0 10px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          cursor: pointer;
          font-size: 14px;
          color: #666666; }
        .wrap .main .tags-search .tags-list .active {
          border: solid 1px #1a8ced;
          text-align: center; }
      .wrap .main .tags-search .selected {
        height: 55px;
        border-bottom: solid 1px #e4e4e4; }
        .wrap .main .tags-search .selected .tags-con {
          border: 0; }
          .wrap .main .tags-search .selected .tags-con li {
            position: relative;
            width: 70px;
            height: 30px;
            line-height: 30px;
            padding-right: 20px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            background: #1a8ced;
            color: #ffffff;
            font-size: 14px;
            text-align: center; }
            .wrap .main .tags-search .selected .tags-con li:before {
              content: 'x';
              background: url("../images/icon/close.png") no-repeat;
              background-size: 100%;
              position: absolute;
              top: 0;
              right: 10px; }
    .wrap .main .circum-box {
      position: relative;
      padding-bottom: 15px; }
      .wrap .main .circum-box .pop {
        top: 68px;
        left: 102px; }
      .wrap .main .circum-box .tabs {
        position: relative; }
        .wrap .main .circum-box .tabs .tabs-tit {
          width: 115px;
          box-shadow: -1px -1px 4px #aaa, -1px 1px 4px #aaa; }
          .wrap .main .circum-box .tabs .tabs-tit li {
            position: relative;
            height: 204px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            background: #f8f8f8; }
            .wrap .main .circum-box .tabs .tabs-tit li p {
              height: 100%;
              margin: 0 10px;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              border-bottom: solid 1px #e7e7e7; }
            .wrap .main .circum-box .tabs .tabs-tit li .big {
              position: relative;
              display: inline-block;
              margin: 30px 0 0 15px;
              font-size: 40px;
              color: #000000; }
              .wrap .main .circum-box .tabs .tabs-tit li .big:before {
                content: '';
                background: url("../images/icon/line.png") no-repeat;
                background-size: 100%;
                position: absolute;
                top: 0;
                right: -21px;
                width: 40px;
                height: 72px; }
            .wrap .main .circum-box .tabs .tabs-tit li .small {
              position: absolute;
              top: 40%;
              display: inline-block;
              width: 20px;
              font-size: 20px;
              color: #333333; }
            .wrap .main .circum-box .tabs .tabs-tit li:last-child p {
              border: 0; }
          .wrap .main .circum-box .tabs .tabs-tit .active {
            border-right: 0;
            box-shadow: 4px 0px 0px #fff;
            background: #fff; }
            .wrap .main .circum-box .tabs .tabs-tit .active p {
              width: 100%;
              margin: 0; }
            .wrap .main .circum-box .tabs .tabs-tit .active .big {
              margin: 30px 0 0 25px; }
        .wrap .main .circum-box .tabs .tabs-con {
          position: absolute;
          right: 0;
          top: 0;
          width: 865px; }
    .wrap .main .world-box .grid {
      float: left;
      padding-bottom: 10px; }
      .wrap .main .world-box .grid .grid-item {
        float: left;
        width: 316.6px;
        margin: 0 10px 20px;
        background: #fff; }
        .wrap .main .world-box .grid .grid-item:hover {
          box-shadow: 3px 3px 4px #CCC,-2px 2px 4px #ccc; }
        .wrap .main .world-box .grid .grid-item:first-child {
          margin-left: 0; }
        .wrap .main .world-box .grid .grid-item:nth-child(4n) {
          margin-left: 0; }
        .wrap .main .world-box .grid .grid-item:nth-child(3n) {
          margin-right: 0; }
        .wrap .main .world-box .grid .grid-item dt {
          overflow: hidden;
          width: 100%;
          height: 237px; }
          .wrap .main .world-box .grid .grid-item dt img {
            width: 100%;
            height: 100%; }
        .wrap .main .world-box .grid .grid-item dd {
          overflow: hidden; }
          .wrap .main .world-box .grid .grid-item dd h4 {
            padding: 16px 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 16px;
            color: #333333; }
          .wrap .main .world-box .grid .grid-item dd .time-nums {
            overflow: hidden;
            padding: 0 10px 20px;
            border-bottom: solid 1px #e7e7e7;
            font-size: 12px;
            color: #999999; }
            .wrap .main .world-box .grid .grid-item dd .time-nums .time {
              float: left; }
            .wrap .main .world-box .grid .grid-item dd .time-nums .scan-comment {
              float: right; }
              .wrap .main .world-box .grid .grid-item dd .time-nums .scan-comment span {
                padding-left: 18px;
                position: relative; }
              .wrap .main .world-box .grid .grid-item dd .time-nums .scan-comment .scan:before {
                content: '';
                background: url("../images/icon/list-zan.png") no-repeat;
                background-size: 100%;
                position: absolute;
                top: 0;
                left: 0;
                width: 12px;
                height: 13px; }
              .wrap .main .world-box .grid .grid-item dd .time-nums .scan-comment .comment {
                margin-left: 18px; }
                .wrap .main .world-box .grid .grid-item dd .time-nums .scan-comment .comment:before {
                  content: '';
                  background: url("../images/icon/list-comment.png") no-repeat;
                  background-size: 100%;
                  position: absolute;
                  top: 14%;
                  left: 0;
                  width: 13px;
                  height: 12px; }
          .wrap .main .world-box .grid .grid-item dd .tag-list {
            padding: 10px;
            height: 55px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin-top: 0; }
    .wrap .main .best-box .list .list-item {
      overflow: hidden;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 30px 0; }
      .wrap .main .best-box .list .list-item:first-child {
        padding-top: 0; }
      .wrap .main .best-box .list .list-item dt, .wrap .main .best-box .list .list-item dd {
        float: left; }
      .wrap .main .best-box .list .list-item dt {
        overflow: hidden;
        width: 180px;
        height: 135px;
        margin-right: 16px;
        border: solid 1px #aaa; }
        .wrap .main .best-box .list .list-item dt img {
          width: 100%;
          height: 100%;
          padding: 1px; }
      .wrap .main .best-box .list .list-item dd {
        width: 80%;
        font-size: 14px; }
        .wrap .main .best-box .list .list-item dd .tit-time {
          overflow: hidden; }
          .wrap .main .best-box .list .list-item dd .tit-time h4 {
            float: left;
            width: 85%;
            margin: 0;
            line-height: normal; }
            .wrap .main .best-box .list .list-item dd .tit-time h4:hover {
              font-weight: bold;
              color: #1a8ced; }
          .wrap .main .best-box .list .list-item dd .tit-time .time {
            float: right;
            font-size: 12px;
            color: #999; }
        .wrap .main .best-box .list .list-item dd .tag-list {
          overflow: hidden;
          float: none;
          padding: 10px 0;
          margin: 0; }
        .wrap .main .best-box .list .list-item dd .con-txt {
          line-height: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          font-size: 14px;
          color: #666666; }
        .wrap .main .best-box .list .list-item dd .tags-nums {
          margin-top: 10px; }
        .wrap .main .best-box .list .list-item dd .user {
          float: left;
          width: 60%; }
          .wrap .main .best-box .list .list-item dd .user img {
            width: 20px;
            height: 20px;
            margin-right: 12px;
            border-radius: 50%; }
        .wrap .main .best-box .list .list-item dd .scan-comment {
          float: right;
          width: 40%;
          padding-top: 6px; }
          .wrap .main .best-box .list .list-item dd .scan-comment span {
            float: right;
            position: relative; }
          .wrap .main .best-box .list .list-item dd .scan-comment .time:before {
            content: '';
            background: url("../images/icon/list-time.png") no-repeat;
            background-size: 100%;
            position: absolute;
            top: 6%;
            left: 0;
            width: 12px;
            height: 13px; }
          .wrap .main .best-box .list .list-item dd .scan-comment .scan:before {
            content: '';
            background: url("../images/icon/list-zan.png") no-repeat;
            background-size: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 12px;
            height: 13px; }
          .wrap .main .best-box .list .list-item dd .scan-comment .comment:before {
            content: '';
            background: url("../images/icon/list-comment.png") no-repeat;
            background-size: 100%;
            position: absolute;
            top: 17%;
            left: 0;
            width: 13px;
            height: 13px; }
          .wrap .main .best-box .list .list-item dd .scan-comment .scan, .wrap .main .best-box .list .list-item dd .scan-comment .comment {
            margin-left: 19px; }
    .wrap .main .best-new .title {
      overflow: hidden;
      font-size: 24px; }
      .wrap .main .best-new .title li {
        float: left;
        margin: 20px 14px 20px 0; }
    .wrap .main .best-new .list {
      border-top: solid 1px #ccc; }
      .wrap .main .best-new .list .list-item {
        padding: 15px 0; }
    .wrap .main .list-item {
      overflow: hidden;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 15px 0;
      border-bottom: solid 1px #e7e7e7; }
      .wrap .main .list-item:first-child {
        padding-top: 0; }
      .wrap .main .list-item a {
        color: #333333; }
      .wrap .main .list-item dt, .wrap .main .list-item dd {
        float: left; }
      .wrap .main .list-item dt {
        overflow: hidden;
        width: 160px;
        height: 120px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-right: 14px;
        border: solid 1px #aaa; }
        .wrap .main .list-item dt img {
          width: 100%;
          height: 100%;
          padding: 1px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
      .wrap .main .list-item dd {
        width: 82%;
        font-size: 14px; }
        .wrap .main .list-item dd h4 {
          margin: 6px 0 10px;
          font-size: 18px;
          font-weight: 200;
          cursor: pointer;
          cursor: hand; }
          .wrap .main .list-item dd h4:hover {
            color: #1a8ced;
            font-weight: bold; }
        .wrap .main .list-item dd .con-txt {
          line-height: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical; }
        .wrap .main .list-item dd .tags-nums {
          overflow: hidden; }
        .wrap .main .list-item dd .scan-comment {
          float: right;
          width: 18%;
          padding-top: 21px;
          font-size: 12px;
          color: #999999; }
          .wrap .main .list-item dd .scan-comment span {
            position: relative;
            float: right;
            padding-left: 16px; }
          .wrap .main .list-item dd .scan-comment .comment {
            margin-left: 18px; }
          .wrap .main .list-item dd .scan-comment .scan:before {
            content: '';
            background: url("../images/icon/list-zan.png") no-repeat;
            background-size: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 12px;
            height: 13px; }
          .wrap .main .list-item dd .scan-comment .comment {
            margin-left: 18px; }
            .wrap .main .list-item dd .scan-comment .comment:before {
              content: '';
              background: url("../images/icon/list-comment.png") no-repeat;
              background-size: 100%;
              position: absolute;
              top: 14%;
              left: 0;
              width: 13px;
              height: 12px; }
    .wrap .main .logo_search {
      overflow: hidden;
      border-bottom: solid 1px #e7e7e7; }
      .wrap .main .logo_search .logo {
        position: relative;
        float: left;
        font-size: 18px;
        width: 40%;
        height: 125px; }
        .wrap .main .logo_search .logo:before {
          content: '';
          background: url("../images/icon/logo.png") no-repeat;
          position: absolute;
          top: 25px;
          left: 0;
          width: 100%;
          height: 112px; }
      .wrap .main .logo_search .search-box {
        overflow: hidden;
        float: right;
        width: 55%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        .wrap .main .logo_search .search-box .search-main {
          float: left;
          width: 100%; }
          .wrap .main .logo_search .search-box .search-main .search-input-btn {
            overflow: hidden;
            width: 100%;
            line-height: 49px;
            margin-top: 10px; }
            .wrap .main .logo_search .search-box .search-main .search-input-btn .search-input {
              float: left;
              width: 85%;
              height: 47px;
              border: solid 1px #1a8ced;
              border-right: 0;
              border-radius: 4px 0 0 4px;
              color: #ccc;
              font-size: 20px; }
            .wrap .main .logo_search .search-box .search-main .search-input-btn .search-btn {
              float: left;
              width: 70px;
              border-radius: 0 4px 4px 0;
              background: #1a8ced;
              text-align: center;
              font-size: 18px;
              color: #fff; }
          .wrap .main .logo_search .search-box .search-main .tags {
            overflow: hidden;
            height: 66px;
            line-height: 66px;
            font-size: 16px; }
            .wrap .main .logo_search .search-box .search-main .tags li {
              float: left;
              margin-right: 20px; }
              .wrap .main .logo_search .search-box .search-main .tags li a {
                color: #333333; }
                .wrap .main .logo_search .search-box .search-main .tags li a:hover {
                  color: #1a8ced; }
            .wrap .main .logo_search .search-box .search-main .tags .active {
              color: #1a8ced; }
        .wrap .main .logo_search .search-box .btns {
          float: left;
          font-size: 18px;
          color: #fff; }
          .wrap .main .logo_search .search-box .btns .publish, .wrap .main .logo_search .search-box .btns .opinion {
            width: 140px;
            line-height: 50px;
            margin-bottom: 10px;
            border-radius: 4px;
            text-align: center; }
          .wrap .main .logo_search .search-box .btns .publish {
            background: #f1762c; }
          .wrap .main .logo_search .search-box .btns .opinion {
            background: #999999; }
    .wrap .main .crumbs-white {
      overflow: hidden;
      height: 44px;
      line-height: 44px;
      font-size: 16px;
      color: #999999; }
      .wrap .main .crumbs-white li {
        float: left; }
        .wrap .main .crumbs-white li:first-child {
          color: #666666; }
      .wrap .main .crumbs-white a {
        color: #999999; }
    .wrap .main .box-title {
      overflow: hidden; }
      .wrap .main .box-title h4 {
        float: left;
        width: 12%;
        line-height: 90px;
        margin-right: 18px;
        font-size: 28px; }
      .wrap .main .box-title .choice-address {
        position: relative;
        float: left;
        margin-top: 40px;
        font-size: 14px;
        color: #999999; }
        .wrap .main .box-title .choice-address:before {
          content: '';
          background-size: 100%;
          position: absolute;
          top: 24%;
          left: 31px;
          width: 10px;
          height: 8px; }
      .wrap .main .box-title .more {
        position: relative;
        float: right;
        margin-top: 40px;
        padding-right: 15px;
        font-size: 16px;
        color: #666666; }
        .wrap .main .box-title .more:before {
          content: '';
          background: url("../images/icon/more.png") no-repeat;
          background-size: 100%;
          position: absolute;
          top: 8%;
          right: 0;
          width: 9px;
          height: 17px; }
    .wrap .main .tag-list {
      float: left;
      width: 80%;
      margin-top: 12px;
      font-size: 12px; }
      .wrap .main .tag-list li {
        float: left;
        line-height: 25px;
        height: 25px;
        padding: 0 8px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 2px;
        margin-right: 10px;
        border: solid 1px #1a8ced;
        text-align: center;
        color: #1a8ced; }
    .wrap .main .list-btn {
      display: block;
      position: relative;
      margin-top: 16px;
      line-height: 60px;
      border: solid 1px #e7e7e7;
      text-align: center;
      font-size: 16px;
      color: #333333; }
      .wrap .main .list-btn:before {
        content: '';
        background: url("../images/icon/more.png") no-repeat;
        background-size: 100%;
        position: absolute;
        top: 38%;
        left: 62%;
        width: 9px;
        height: 17px; }
      .wrap .main .list-btn:hover {
        background: #f8f8f8; }
  .wrap .foot {
    width: 990px;
    margin: 10px auto 0 auto;
    padding: 7px 0 10px 0;
    border-top: 3px solid #3b5998;
    text-align: center;
    color: #7c7c7c;
    font-size: 12px; }
    .wrap .foot p {
      line-height: 24px;
      margin: 0;
      padding: 0; }
      .wrap .foot p a {
        display: inline-block;
        margin: 0 9px; }
        .wrap .foot p a:visited {
          color: #7c7c7c;
          text-decoration: none; }
      .wrap .foot p .footios, .wrap .foot p .footand, .wrap .foot p .footwp, .wrap .foot p .footphone, .wrap .foot p .footauto {
        display: inline-block;
        padding-left: 19px;
        background: url("../images/icon/footicon.png") no-repeat; }
      .wrap .foot p .footios {
        background-position: 0 3px; }
      .wrap .foot p .footand {
        background-position: 0 -27px; }
      .wrap .foot p .footwp {
        background-position: 0 -57px; }
      .wrap .foot p .footphone {
        background-position: 0 -87px; }
      .wrap .foot p .footauto {
        padding: 0 22px 0 21px;
        background-position: 0 -117px; }

.wrap {
  overflow: hidden;
  /*意见反馈*/
  /*回复列表*/ }
  .wrap .hide {
    display: none; }
  .wrap .opinion-box {
    padding-top: 60px; }
    .wrap .opinion-box .opinion-tit {
      line-height: 44px;
      font-size: 30px;
      color: #000000; }
    .wrap .opinion-box .opinion-sec {
      line-height: 38px;
      font-size: 18px;
      color: #666666; }
    .wrap .opinion-box textarea {
      width: 100%;
      height: 300px;
      margin: 20px 0;
      border: solid 1px #1a8ced;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      box-shadow: -1px -1px 4px #aaa,1px 1px 4px #aaa; }
    .wrap .opinion-box .emoji-btn {
      overflow: hidden;
      padding-left: 10px;
      font-size: 14px; }
      .wrap .opinion-box .emoji-btn .emoji {
        position: relative;
        float: left;
        margin-top: 4px;
        padding-left: 20px;
        color: #1a8ced; }
        .wrap .opinion-box .emoji-btn .emoji:before {
          content: '';
          background: url("../images/icon/opinion-emoji.png") no-repeat;
          background-size: 100%;
          position: absolute;
          top: 12%;
          left: 0;
          width: 14px;
          height: 14px; }
      .wrap .opinion-box .emoji-btn .btn {
        float: right;
        width: 100px;
        height: 40px;
        line-height: 40px;
        background: #1a8ced;
        text-align: center;
        color: #fff; }
  .wrap .comment-list {
    padding-top: 80px; }
    .wrap .comment-list .comment-tit {
      overflow: hidden;
      padding-bottom: 20px;
      border-bottom: solid 1px #e7e7e7;
      font-size: 24px; }
      .wrap .comment-list .comment-tit li {
        float: left;
        margin-right: 16px; }
      .wrap .comment-list .comment-tit .active:after {
        content: '';
        background: url("../images/icon/border-bottom.png") no-repeat;
        background-size: 100%;
        position: absolute;
        bottom: 0;
        left: 0; }
    .wrap .comment-list .comment-content {
      overflow: hidden;
      width: 654px;
      padding: 30px 0 20px 18px;
      border-bottom: solid 1px #ccc; }
      .wrap .comment-list .comment-content dt, .wrap .comment-list .comment-content dd {
        float: left; }
      .wrap .comment-list .comment-content dt {
        width: 48px;
        height: 48px;
        margin-right: 12px; }
        .wrap .comment-list .comment-content dt img {
          width: 100%;
          height: 100%; }
      .wrap .comment-list .comment-content dd {
        width: 590px; }
        .wrap .comment-list .comment-content dd .title, .wrap .comment-list .comment-content dd .time-floor {
          float: left; }
        .wrap .comment-list .comment-content dd .title {
          width: 78%;
          margin-bottom: 18px;
          font-size: 16px; }
        .wrap .comment-list .comment-content dd .time-floor {
          font-size: 12px;
          color: #999999; }
        .wrap .comment-list .comment-content dd .content {
          margin-top: 23px;
          background: #f4f4f4; }
          .wrap .comment-list .comment-content dd .content .user, .wrap .comment-list .comment-content dd .content .article {
            overflow: hidden;
            padding: 10px 13px; }
          .wrap .comment-list .comment-content dd .content .user .user-tit em {
            margin-right: 12px; }
          .wrap .comment-list .comment-content dd .content .user .user-txt {
            margin-top: 10px;
            line-height: 25px; }
      .wrap .comment-list .comment-content .comment-box {
        width: 634px; }
      .wrap .comment-list .comment-content .reply {
        width: 634px;
        margin-top: 20px;
        text-align: right; }
        .wrap .comment-list .comment-content .reply span:first-child {
          padding-right: 10px;
          border-right: solid 1px #ccc; }
        .wrap .comment-list .comment-content .reply span:last-child {
          padding-left: 10px; }
