<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>精彩游记</title>
    <meta name="keywords" content="管理标签">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="telephone=no" name="format-detection">
    <meta name="renderer" content="webkit">
    <script src="../js/lib/jquery-2.1.4.js"></script>
    <link rel="stylesheet" href="../css/best.css">
  </head>
  <body>
  	<div class="wrap">
      <div class="head">
        <div class="container">
          <ul class="login-register">
            <li>您好！
              <!-- if 未登录 -->
                请<a href="">登录</a>
              <!-- else -->
                Ivy
            </li>
            <li>或
              <!-- if 未登录 -->
                <a href="">注册</a>
              <!-- else -->
                <a href="">退出</a>
            </li>
            <li class="msg">
              <span>消息</span>
              <ul class="msg-con hide">
                <li>查看论坛回复</li>
                <li>查看评论回复</li>
                <li>查看私信</li>
                <li>查看通知</li>
                <li>查看粉丝</li>
                <li>查看订单</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="main">

        <div class="logo_search min-width">
          <p class="logo" title="logo"></p>
          <div class="search-box">
            <div class="search-main">
              <div class="search-input-btn">
                <input class="search-input" type="text" placehold="请输入游记名/目的地">
                <span class="search-btn cursor" title="搜索">搜索</span>
              </div>
              <ul class="tags">
                <li><a href="search_result.html" title="户外">户外</a></li>
                <li><a href="search_result.html" title="蜜月">蜜月</a></li>
                <li><a href="search_result.html" title="境外">境外</a></li>
                <li><a href="search_result.html" title="潜水">潜水</a></li>
                <li><a href="search_result.html" title="滑雪">滑雪</a></li>
                <li><a href="search_result.html" title="自然风光">自然风光</a></li>
                <li><a href="search_result.html" title="户外">户外</a></li>
                <li><a href="search_result.html" title="蜜月">蜜月</a></li>
                <li><a href="search_result.html" title="境外">境外</a></li>
                <li><a href="search_result.html" title="潜水">潜水</a></li>
                <li><a href="search_result.html" title="更多">更多</a></li>
              </ul>
            </div>
          </div>
        </div>

        <ul class="crumbs-white min-width">
          <li title="当前位置">当前位置：</li>
          <li><a href="" title="游记">游记</a>&nbsp;>&nbsp;</li>
          <li><a href="" title="周边推荐">周边推荐</a>&nbsp;>&nbsp;</li>
          <li title="玩">玩</li>
        </ul>

        <div class="tags-search min-width">
          <div class="tags-list selected hide">
            <span class="tit" title="已选条件">已选条件:</span>
            <ul class="tags-con"></ul>
          </div>
          <div class="tags-list">
            <span class="tit" title="主题">主题:</span>
            <div class="tag-box">
              <ul class="tags-con">
                <li class="unlimited active" title="不限">不限</li>
                <li title="蜜月">蜜月</li>
                <li title="亲子">亲子</li>
                <li title="美食">美食</li>
                <li title="境外">境外</li>
                <li title="户外">户外</li>
                <li title="滑雪">滑雪</li>
              </ul>
            </div>
          </div>
          <div class="tags-list">
            <span class="tit">时间:</span>
            <div class="tag-box">
              <ul class="tags-con">
                <li class="unlimited active" title="不限">不限</li>
                <li title="1天">1天</li>
                <li title="2天">2天</li>
                <li title="3天">3天</li>
                <li title="4天">4天</li>
                <li title="5天">5天</li>
                <li title="6天">6天</li>
              </ul>
            </div>
          </div>
          <div class="tags-list">
            <span class="tit">人物:</span>
            <div class="tag-box">
              <ul class="tags-con">
                <li class="unlimited active" title="不限">不限</li>
                <li title="独行">独行</li>
                <li title="亲子">亲子</li>
                <li title="情侣">情侣</li>
                <li title="父母">父母</li>
                <li title="独行">独行</li>
                <li title="亲子">亲子</li>
                <li title="情侣">情侣</li>
                <li title="父母">父母</li>
                <li title="独行">独行</li>
                <li title="亲子">亲子</li>
                <li title="情侣">情侣</li>
                <li title="父母">父母</li>
                <li title="独行">独行</li>
                <li title="亲子">亲子</li>
                <li title="情侣">情侣</li>
                <li title="父母">父母</li>
                <li title="独行">独行</li>
                <li title="亲子">亲子</li>
                <li title="情侣">情侣</li>
                <li title="父母">父母</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="best-box min-width">
          <ul class="title">
            <li class="item active" title="最热">最热</li>
            <li>|</li>
            <li class="item" title="最新">最新</li>
          </ul>
          <div class="list">
            <dl class="list-item">
              <a href="detail.html">
                <dt>
                  <img src="../images/1.jpg" alt="车史上的5月22日 法拉利首次参加F1赛事">
                </dt>
                <dd>
                  <div class="tit-time">
                    <h4 title="车史上的5月22日 法拉利首次参加F1赛事">车史上的5月22日 法拉利首次参加F1赛事</h4>
                    <span class="time" title="1分钟前">1分钟前</span>
                  </div>
                  <ul class="tag-list">
                    <li class="tag" title="户外">户外</li>
                    <li class="tag" title="境外">境外</li>
                    <li class="tag" title="户外">户外</li>
                    <li class="tag" title="境外">境外</li>
                  </ul>
                  <p class="con-txt">【汽车之家  车史上的今天】一级方程式锦标赛汽车之家 车史上的今天。一级方程式锦标赛可以说是赛车运动这中的顶级赛事，这项赛事源自1906年举办的法国汽车俱乐部大奖赛。1948年，法国法国汽车俱乐部大奖赛。1948年，法国</p>
                  <div class="tags-nums">
                    <div class="user">
                      <img src="../images/1.jpg">
                      <span title="薛之谦">薛之谦</span>
                    </div>
                    <div class="scan-comment">
                      <span class="comment" title="总评论量9823">9823</span>
                      <span class="scan" title="总浏览量10.92万">10.92万</span>
                      <span class="time" title="2016.05.23 | 4天">2016.05.23&nbsp;|&nbsp;4天</span>
                    </div>
                  </div>
                </dd>
              </a>
            </dl>
            <dl class="list-item">
              <a href="detail.html">
                <dt>
                  <img src="../images/1.jpg" alt="车史上的5月22日 法拉利首次参加F1赛事">
                </dt>
                <dd>
                  <div class="tit-time">
                    <h4 title="车史上的5月22日 法拉利首次参加F1赛事">车史上的5月22日 法拉利首次参加F1赛事</h4>
                    <span class="time" title="1分钟前">1分钟前</span>
                  </div>
                  <ul class="tag-list">
                    <li class="tag" title="户外">户外</li>
                    <li class="tag" title="境外">境外</li>
                    <li class="tag" title="户外">户外</li>
                    <li class="tag" title="境外">境外</li>
                  </ul>
                  <p class="con-txt">【汽车之家  车史上的今天】一级方程式锦标赛汽车之家 车史上的今天。一级方程式锦标赛可以说是赛车运动这中的顶级赛事，这项赛事源自1906年举办的法国汽车俱乐部大奖赛。1948年，法国法国汽车俱乐部大奖赛。1948年，法国</p>
                  <div class="tags-nums">
                    <div class="user">
                      <img src="../images/1.jpg">
                      <span title="薛之谦">薛之谦</span>
                    </div>
                    <div class="scan-comment">
                      <span class="comment" title="总评论量9823">9823</span>
                      <span class="scan" title="总浏览量10.92万">10.92万</span>
                      <span class="time" title="2016.05.23 | 4天">2016.05.23&nbsp;|&nbsp;4天</span>
                    </div>
                  </div>
                </dd>
              </a>
            </dl>
            <dl class="list-item">
              <a href="detail.html">
                <dt>
                  <img src="../images/1.jpg" alt="车史上的5月22日 法拉利首次参加F1赛事">
                </dt>
                <dd>
                  <div class="tit-time">
                    <h4 title="车史上的5月22日 法拉利首次参加F1赛事">车史上的5月22日 法拉利首次参加F1赛事</h4>
                    <span class="time" title="1分钟前">1分钟前</span>
                  </div>
                  <ul class="tag-list">
                    <li class="tag" title="户外">户外</li>
                    <li class="tag" title="境外">境外</li>
                    <li class="tag" title="户外">户外</li>
                    <li class="tag" title="境外">境外</li>
                  </ul>
                  <p class="con-txt">【汽车之家  车史上的今天】一级方程式锦标赛汽车之家 车史上的今天。一级方程式锦标赛可以说是赛车运动这中的顶级赛事，这项赛事源自1906年举办的法国汽车俱乐部大奖赛。1948年，法国法国汽车俱乐部大奖赛。1948年，法国</p>
                  <div class="tags-nums">
                    <div class="user">
                      <img src="../images/1.jpg">
                      <span title="薛之谦">薛之谦</span>
                    </div>
                    <div class="scan-comment">
                      <span class="comment" title="总评论量9823">9823</span>
                      <span class="scan" title="总浏览量10.92万">10.92万</span>
                      <span class="time" title="2016.05.23 | 4天">2016.05.23&nbsp;|&nbsp;4天</span>
                    </div>
                  </div>
                </dd>
              </a>
            </dl>
            <dl class="list-item">
              <a href="detail.html">
                <dt>
                  <img src="../images/1.jpg" alt="车史上的5月22日 法拉利首次参加F1赛事">
                </dt>
                <dd>
                  <div class="tit-time">
                    <h4 title="车史上的5月22日 法拉利首次参加F1赛事">车史上的5月22日 法拉利首次参加F1赛事</h4>
                    <span class="time" title="1分钟前">1分钟前</span>
                  </div>
                  <ul class="tag-list">
                    <li class="tag" title="户外">户外</li>
                    <li class="tag" title="境外">境外</li>
                    <li class="tag" title="户外">户外</li>
                    <li class="tag" title="境外">境外</li>
                  </ul>
                  <p class="con-txt">【汽车之家  车史上的今天】一级方程式锦标赛汽车之家 车史上的今天。一级方程式锦标赛可以说是赛车运动这中的顶级赛事，这项赛事源自1906年举办的法国汽车俱乐部大奖赛。1948年，法国法国汽车俱乐部大奖赛。1948年，法国</p>
                  <div class="tags-nums">
                    <div class="user">
                      <img src="../images/1.jpg">
                      <span title="薛之谦">薛之谦</span>
                    </div>
                    <div class="scan-comment">
                      <span class="comment" title="总评论量9823">9823</span>
                      <span class="scan" title="总浏览量10.92万">10.92万</span>
                      <span class="time" title="2016.05.23 | 4天">2016.05.23&nbsp;|&nbsp;4天</span>
                    </div>
                  </div>
                </dd>
              </a>
            </dl>
            <dl class="list-item">
              <a href="detail.html">
                <dt>
                  <img src="../images/1.jpg" alt="车史上的5月22日 法拉利首次参加F1赛事">
                </dt>
                <dd>
                  <div class="tit-time">
                    <h4 title="车史上的5月22日 法拉利首次参加F1赛事">车史上的5月22日 法拉利首次参加F1赛事</h4>
                    <span class="time" title="1分钟前">1分钟前</span>
                  </div>
                  <ul class="tag-list">
                    <li class="tag" title="户外">户外</li>
                    <li class="tag" title="境外">境外</li>
                    <li class="tag" title="户外">户外</li>
                    <li class="tag" title="境外">境外</li>
                  </ul>
                  <p class="con-txt">【汽车之家  车史上的今天】一级方程式锦标赛汽车之家 车史上的今天。一级方程式锦标赛可以说是赛车运动这中的顶级赛事，这项赛事源自1906年举办的法国汽车俱乐部大奖赛。1948年，法国法国汽车俱乐部大奖赛。1948年，法国</p>
                  <div class="tags-nums">
                    <div class="user">
                      <img src="../images/1.jpg">
                      <span title="薛之谦">薛之谦</span>
                    </div>
                    <div class="scan-comment">
                      <span class="comment" title="总评论量9823">9823</span>
                      <span class="scan" title="总浏览量10.92万">10.92万</span>
                      <span class="time" title="2016.05.23 | 4天">2016.05.23&nbsp;|&nbsp;4天</span>
                    </div>
                  </div>
                </dd>
              </a>
            </dl>
          </div>
          <div class="nothing">没找到和”“相关的内容</div>
        </div>

      </div>
      <div class="foot min-width">
        <p>
          <a href="http://www.autohome.com.cn/about/index.htm" target="_blank">关于我们</a>
          <a href="http://www.autohome.com.cn/about/lianxi.htm" target="_blank">联系我们</a>
          <a href="http://special.zhaopin.com/bf/2014/czj041009/sz.html" target="_blank">招贤纳士</a>
          <span class="fline">|</span>
          <a class="footios" href="http://www.autohome.com.cn/apps/1.html" target="_blank">iPhone客户端</a>/
          <a href="http://www.autohome.com.cn/apps/2.html" target="_blank">iPad客户端</a>
          <a class="footand" href="http://www.autohome.com.cn/apps/3.html" target="_blank">Android客户端</a>
          <a class="footwp" href="http://www.autohome.com.cn/apps/8.html" target="_blank">WP客户端</a>
          <a class="footphone" href="http://www.autohome.com.cn/apps/m/" target="_blank">手机版</a>
          <span class="fline">|</span>
          <a class="footauto" href="http://e.weibo.com/qichezhijia" target="_blank">汽车之家</a>
          <span class="fline">|</span>
          <a href="opinion.html" target="_blank">意见反馈</a>
        </p>
        <p>
          <span class="footarial">© 2004-2016 www.autohome.com.cn All Rights Reserved.</span>汽车之家 版权所有
        </p>
      </div>
	  </div>
    <script src="../js/lib/common.js"></script>
	  <script src="../js/best.js"></script>
  </body>
</html>