<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>周边推荐</title>
    <meta name="keywords" content="管理标签">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="telephone=no" name="format-detection">
    <meta name="renderer" content="webkit">
    <script src="../js/lib/zepto.min.js"></script>
    <link rel="stylesheet" href="../css/circum.css">
  </head>
  <body>
  	<div class="wrap">
      <div class="head">
        <div class="container">
          <ul class="login-register">
            <li>您好！
              <!-- if 未登录 -->
                请<a href="">登录</a>
              <!-- else -->
                Ivy
            </li>
            <li>或
              <!-- if 未登录 -->
                <a href="">注册</a>
              <!-- else -->
                <a href="">退出</a>
            </li>
            <li class="msg">
              <span>消息</span>
              <ul class="msg-con hide">
                <li>查看论坛回复</li>
                <li>查看评论回复</li>
                <li>查看私信</li>
                <li>查看通知</li>
                <li>查看粉丝</li>
                <li>查看订单</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="main">

        <div class="logo_search min-width">
          <p class="logo">给你最想要的出游信息</p>
          <div class="search-box">
            <div class="search-main">
              <div class="search-input-btn">
                <input class="search-input" type="text" placehold="请输入游记名/目的地">
                <span class="search-btn">搜索</span>
              </div>
              <ul class="tags">
                <li>户外</li>
                <li>蜜月</li>
                <li>境外</li>
                <li>潜水</li>
                <li>滑雪</li>
                <li>自然风光</li>
                <li>户外</li>
                <li>蜜月</li>
                <li>境外</li>
                <li>潜水</li>
                <li>更多</li>
              </ul>
            </div>
          </div>
        </div>

  	    <div class="banner min-width">
          <ul class="crumbs">
            <li>当前位置：</li>
            <li><a href="">游记</a>></li>
            <li><a href="">搜索</a>></li>
            <li>北京</li>
          </ul>
          <div class="weather-address">
            <div class="weather">
              <p class="temp">16℃/30℃</p>
              <ul class="temp-box hide">
                <li>今天<span class="today">16℃/30℃</span></li>
                <li>明天<span class="tomo">16℃/30℃</span></li>
                <li>后天<span class="thir">16℃/30℃</span></li>
              </ul>
              <p class="wind-time">
                <span class="wind">东北风1级</span>
                <span class="time">今天17:30更新</span>
              </p>
            </div>
            <div class="address">
              <p class="city">北京</p>
              <p class="e-city">BeiJing</p>
            </div>
          </div>
        </div>

        <div class="circum-box min-width">
          <div class="box-title">
            <h4>玩转周边</h4>
            <span class="choice-address">北京</span>
            <a class="more" href="">更多</a>
          </div>
          <div class="tabs">
            <ul class="tabs-tit">
              <li>
                <span class="big">吃</span>
                <span class="small">吃遍周边</span>
              </li>
              <li class="active">
                <span class="big">住</span>
                <span class="small">住遍周边</span>
              </li>
              <li>
                <span class="big">玩</span>
                <span class="small">玩遍周边</span>
              </li>
              <li>
                <span class="big">购</span>
                <span class="small">购遍周边</span>
              </li>
            </ul>
            <div class="tabs-con">
              <div class="list">
                <dl class="list-item">
                  <dt>
                    <img src="../images/1.jpg">
                  </dt>
                  <dd>
                    <h4>车史上的5月22日 法拉利首次参加F1赛事</h4>
                    <p class="con-txt">【汽车之家  车史上的今天】一级方程式锦标赛汽车之家 车史上的今天。一级方程式锦标赛可以说是赛车运动这中的顶级赛事，这项赛事源自1906年举办的法国汽车俱乐部大奖赛。1948年，法国法国汽车俱乐部大奖赛。1948年，法国</p>
                    <div class="tags-nums">
                      <ul class="tag-list">
                        <li class="tag">户外</li>
                        <li class="tag">境外</li>
                        <li class="tag">户外</li>
                        <li class="tag">境外</li>
                      </ul>
                      <div class="scan-comment">
                        <span class="scan">10.92万</span>
                        <span class="comment">9823</span>
                      </div>
                    </div>
                  </dd>
                </dl>
                <dl class="list-item">
                  <dt>
                    <img src="../images/1.jpg">
                  </dt>
                  <dd>
                    <h4>车史上的5月22日 法拉利首次参加F1赛事</h4>
                    <p class="con-txt">【汽车之家  车史上的今天】一级方程式锦标赛汽车之家 车史上的今天。一级方程式锦标赛可以说是赛车运动这中的顶级赛事，这项赛事源自1906年举办的法国汽车俱乐部大奖赛。1948年，法国法国汽车俱乐部大奖赛。1948年，法国</p>
                    <div class="tags-nums">
                      <ul class="tag-list">
                        <li class="tag">户外</li>
                        <li class="tag">境外</li>
                        <li class="tag">户外</li>
                        <li class="tag">境外</li>
                      </ul>
                      <div class="scan-comment">
                        <span class="scan">10.92万</span>
                        <span class="comment">9823</span>
                      </div>
                    </div>
                  </dd>
                </dl>
                <dl class="list-item">
                  <dt>
                    <img src="../images/1.jpg">
                  </dt>
                  <dd>
                    <h4>车史上的5月22日 法拉利首次参加F1赛事</h4>
                    <p class="con-txt">【汽车之家  车史上的今天】一级方程式锦标赛汽车之家 车史上的今天。一级方程式锦标赛可以说是赛车运动这中的顶级赛事，这项赛事源自1906年举办的法国汽车俱乐部大奖赛。1948年，法国法国汽车俱乐部大奖赛。1948年，法国</p>
                    <div class="tags-nums">
                      <ul class="tag-list">
                        <li class="tag">户外</li>
                        <li class="tag">境外</li>
                        <li class="tag">户外</li>
                        <li class="tag">境外</li>
                      </ul>
                      <div class="scan-comment">
                        <span class="scan">10.92万</span>
                        <span class="comment">9823</span>
                      </div>
                    </div>
                  </dd>
                </dl>
                <dl class="list-item">
                  <dt>
                    <img src="../images/1.jpg">
                  </dt>
                  <dd>
                    <h4>车史上的5月22日 法拉利首次参加F1赛事</h4>
                    <p class="con-txt">【汽车之家  车史上的今天】一级方程式锦标赛汽车之家 车史上的今天。一级方程式锦标赛可以说是赛车运动这中的顶级赛事，这项赛事源自1906年举办的法国汽车俱乐部大奖赛。1948年，法国法国汽车俱乐部大奖赛。1948年，法国</p>
                    <div class="tags-nums">
                      <ul class="tag-list">
                        <li class="tag">户外</li>
                        <li class="tag">境外</li>
                        <li class="tag">户外</li>
                        <li class="tag">境外</li>
                      </ul>
                      <div class="scan-comment">
                        <span class="scan">10.92万</span>
                        <span class="comment">9823</span>
                      </div>
                    </div>
                  </dd>
                </dl>
                <dl class="list-item">
                  <dt>
                    <img src="../images/1.jpg">
                  </dt>
                  <dd>
                    <h4>车史上的5月22日 法拉利首次参加F1赛事</h4>
                    <p class="con-txt">【汽车之家  车史上的今天】一级方程式锦标赛汽车之家 车史上的今天。一级方程式锦标赛可以说是赛车运动这中的顶级赛事，这项赛事源自1906年举办的法国汽车俱乐部大奖赛。1948年，法国法国汽车俱乐部大奖赛。1948年，法国</p>
                    <div class="tags-nums">
                      <ul class="tag-list">
                        <li class="tag">户外</li>
                        <li class="tag">境外</li>
                        <li class="tag">户外</li>
                        <li class="tag">境外</li>
                      </ul>
                      <div class="scan-comment">
                        <span class="scan">10.92万</span>
                        <span class="comment">9823</span>
                      </div>
                    </div>
                  </dd>
                </dl>
              </div>
              <p class="list-btn">更多周边美食，请查看全部</p>
            </div>
          </div>
        </div>

        <div class="best-box min-width">
          <div class="box-title">
            <h4>精彩游记</h4>
            <a class="more" href="">更多</a>
            <ul class="best-new-btns">
              <li class="active">最热</li>
              <li>最新</li>
            </ul>
          </div>
          <div class="list">
            <dl class="list-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <div class="tit-time">
                  <h4>车史上的5月22日 法拉利首次参加F1赛事</h4>
                  <span class="time">1分钟前</span>
                </div>
                <ul class="tag-list">
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                </ul>
                <p class="con-txt">【汽车之家  车史上的今天】一级方程式锦标赛汽车之家 车史上的今天。一级方程式锦标赛可以说是赛车运动这中的顶级赛事，这项赛事源自1906年举办的法国汽车俱乐部大奖赛。1948年，法国法国汽车俱乐部大奖赛。1948年，法国</p>
                <div class="tags-nums">
                  <div class="user">
                    <img src="../images/1.jpg">
                    <span>薛之谦</span>
                  </div>
                  <div class="scan-comment">
                    <span class="comment">9823</span>
                    <span class="scan">10.92万</span>
                    <span>2016.05.23 | 4天</span>
                  </div>
                </div>
              </dd>
            </dl>
            <dl class="list-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <div class="tit-time">
                  <h4>车史上的5月22日 法拉利首次参加F1赛事</h4>
                  <span class="time">1分钟前</span>
                </div>
                <ul class="tag-list">
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                </ul>
                <p class="con-txt">【汽车之家  车史上的今天】一级方程式锦标赛汽车之家 车史上的今天。一级方程式锦标赛可以说是赛车运动这中的顶级赛事，这项赛事源自1906年举办的法国汽车俱乐部大奖赛。1948年，法国法国汽车俱乐部大奖赛。1948年，法国</p>
                <div class="tags-nums">
                  <div class="user">
                    <img src="../images/1.jpg">
                    <span>薛之谦</span>
                  </div>
                  <div class="scan-comment">
                    <span class="comment">9823</span>
                    <span class="scan">10.92万</span>
                    <span>2016.05.23 | 4天</span>
                  </div>
                </div>
              </dd>
            </dl>
            <dl class="list-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <div class="tit-time">
                  <h4>车史上的5月22日 法拉利首次参加F1赛事</h4>
                  <span class="time">1分钟前</span>
                </div>
                <ul class="tag-list">
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                </ul>
                <p class="con-txt">【汽车之家  车史上的今天】一级方程式锦标赛汽车之家 车史上的今天。一级方程式锦标赛可以说是赛车运动这中的顶级赛事，这项赛事源自1906年举办的法国汽车俱乐部大奖赛。1948年，法国法国汽车俱乐部大奖赛。1948年，法国</p>
                <div class="tags-nums">
                  <div class="user">
                    <img src="../images/1.jpg">
                    <span>薛之谦</span>
                  </div>
                  <div class="scan-comment">
                    <span class="comment">9823</span>
                    <span class="scan">10.92万</span>
                    <span>2016.05.23 | 4天</span>
                  </div>
                </div>
              </dd>
            </dl>
            <p class="list-btn">更多周边美食，请查看全部</p>
          </div>
        </div>

      </div>
	  </div>
    <script src="../js/lib/common.js"></script>
	  <script src="../js/circum.js"></script>
  </body>
</html>