<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>首页</title>
    <meta name="keywords" content="管理标签">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="telephone=no" name="format-detection">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="../css/lib/flexslider.css" href="">
    <script src="../js/lib/jquery-2.1.4.js"></script>
    <script src="../js/lib/jquery.flexslider-min.js"></script>
    <link rel="stylesheet" href="../css/index.css">
  </head>
  <body>
  	<div class="wrap">
      <div class="head">
        <div class="container">
          <ul class="left">
            <li class="title">我的汽车之家</li>
            <li class="net">网站</li>
            <li class="square">广场</li>
            <li class="apply">应用</li>
          </ul>
          <ul class="right">
            <li>阿凡达童鞋</li>
            <li>消息</li>
            <li>设置</li>
          </ul>
        </div>
      </div>
      <div class="main">

  	    <div class="flexslider min-width">
          <ul class="slides">
            <li>
              <img src="../images/1.jpg" alt="" />
              <div class="slider-title">
                <p class="num">
                  <span>1</span>/3
                </p>
                <p class="slider-txt">游西点军校/大都会博物馆 纽约两日游记</p>
              </div>
            </li>
            <li>
              <img src="../images/1.jpg" alt="" />
              <div class="slider-title">
                <p class="num">
                  <span>2</span>/3
                </p>
                <p class="slider-txt">游西点军校/大都会博物馆 纽约两日游记</p>
              </div>
            </li>
            <li>
              <img src="../images/1.jpg" alt="" />
              <div class="slider-title">
                <p class="num">
                  <span>3</span>/3
                </p>
                <p class="slider-txt">游西点军校/大都会博物馆 纽约两日游记</p>
              </div>
            </li>
          </ul>
        </div>

        <div class="search-box min-width">
          <div class="search-main">
            <div class="search-input-btn">
              <input class="search-input" type="text" placehold="请输入游记名/目的地">
              <span class="search-btn">搜索</span>
            </div>
            <ul class="tags">
              <li>户外</li>
              <li>蜜月</li>
              <li>境外</li>
              <li>潜水</li>
              <li>滑雪</li>
              <li>自然风光</li>
              <li>户外</li>
              <li>蜜月</li>
              <li>境外</li>
              <li>潜水</li>
              <li>更多</li>
            </ul>
          </div>
          <div class="btns">
            <p class="publish">发表游记</p>
            <p class="opinion">意见反馈</p>
          </div>
        </div>

        <div class="circum-box min-width">
          <div class="box-title">
            <h4>玩转周边</h4>
            <span class="choice-address">北京</span>
            <a class="more" href="">更多</a>
          </div>
          <div class="tabs">
            <ul class="tabs-tit">
              <li>
                <span class="big">吃</span>
                <span class="small">吃遍周边</span>
              </li>
              <li class="active">
                <span class="big">住</span>
                <span class="small">住遍周边</span>
              </li>
              <li>
                <span class="big">玩</span>
                <span class="small">玩遍周边</span>
              </li>
              <li>
                <span class="big">购</span>
                <span class="small">购遍周边</span>
              </li>
            </ul>
            <div class="tabs-con">
              <div class="list">
                <dl class="list-item">
                  <dt>
                    <img src="../images/1.jpg">
                  </dt>
                  <dd>
                    <h4>车史上的5月22日 法拉利首次参加F1赛事</h4>
                    <p class="con-txt">【汽车之家  车史上的今天】一级方程式锦标赛汽车之家 车史上的今天。一级方程式锦标赛可以说是赛车运动这中的顶级赛事，这项赛事源自1906年举办的法国汽车俱乐部大奖赛。1948年，法国法国汽车俱乐部大奖赛。1948年，法国</p>
                    <div class="tags-nums">
                      <ul class="tag-list">
                        <li class="tag">户外</li>
                        <li class="tag">境外</li>
                        <li class="tag">户外</li>
                        <li class="tag">境外</li>
                      </ul>
                      <div class="scan-comment">
                        <span class="scan">10.92万</span>
                        <span class="comment">9823</span>
                      </div>
                    </div>
                  </dd>
                </dl>
                <dl class="list-item">
                  <dt>
                    <img src="../images/1.jpg">
                  </dt>
                  <dd>
                    <h4>车史上的5月22日 法拉利首次参加F1赛事</h4>
                    <p class="con-txt">【汽车之家  车史上的今天】一级方程式锦标赛汽车之家 车史上的今天。一级方程式锦标赛可以说是赛车运动这中的顶级赛事，这项赛事源自1906年举办的法国汽车俱乐部大奖赛。1948年，法国法国汽车俱乐部大奖赛。1948年，法国</p>
                    <div class="tags-nums">
                      <ul class="tag-list">
                        <li class="tag">户外</li>
                        <li class="tag">境外</li>
                        <li class="tag">户外</li>
                        <li class="tag">境外</li>
                      </ul>
                      <div class="scan-comment">
                        <span class="scan">10.92万</span>
                        <span class="comment">9823</span>
                      </div>
                    </div>
                  </dd>
                </dl>
                <dl class="list-item">
                  <dt>
                    <img src="../images/1.jpg">
                  </dt>
                  <dd>
                    <h4>车史上的5月22日 法拉利首次参加F1赛事</h4>
                    <p class="con-txt">【汽车之家  车史上的今天】一级方程式锦标赛汽车之家 车史上的今天。一级方程式锦标赛可以说是赛车运动这中的顶级赛事，这项赛事源自1906年举办的法国汽车俱乐部大奖赛。1948年，法国法国汽车俱乐部大奖赛。1948年，法国</p>
                    <div class="tags-nums">
                      <ul class="tag-list">
                        <li class="tag">户外</li>
                        <li class="tag">境外</li>
                        <li class="tag">户外</li>
                        <li class="tag">境外</li>
                      </ul>
                      <div class="scan-comment">
                        <span class="scan">10.92万</span>
                        <span class="comment">9823</span>
                      </div>
                    </div>
                  </dd>
                </dl>
                <dl class="list-item">
                  <dt>
                    <img src="../images/1.jpg">
                  </dt>
                  <dd>
                    <h4>车史上的5月22日 法拉利首次参加F1赛事</h4>
                    <p class="con-txt">【汽车之家  车史上的今天】一级方程式锦标赛汽车之家 车史上的今天。一级方程式锦标赛可以说是赛车运动这中的顶级赛事，这项赛事源自1906年举办的法国汽车俱乐部大奖赛。1948年，法国法国汽车俱乐部大奖赛。1948年，法国</p>
                    <div class="tags-nums">
                      <ul class="tag-list">
                        <li class="tag">户外</li>
                        <li class="tag">境外</li>
                        <li class="tag">户外</li>
                        <li class="tag">境外</li>
                      </ul>
                      <div class="scan-comment">
                        <span class="scan">10.92万</span>
                        <span class="comment">9823</span>
                      </div>
                    </div>
                  </dd>
                </dl>
                <dl class="list-item">
                  <dt>
                    <img src="../images/1.jpg">
                  </dt>
                  <dd>
                    <h4>车史上的5月22日 法拉利首次参加F1赛事</h4>
                    <p class="con-txt">【汽车之家  车史上的今天】一级方程式锦标赛汽车之家 车史上的今天。一级方程式锦标赛可以说是赛车运动这中的顶级赛事，这项赛事源自1906年举办的法国汽车俱乐部大奖赛。1948年，法国法国汽车俱乐部大奖赛。1948年，法国</p>
                    <div class="tags-nums">
                      <ul class="tag-list">
                        <li class="tag">户外</li>
                        <li class="tag">境外</li>
                        <li class="tag">户外</li>
                        <li class="tag">境外</li>
                      </ul>
                      <div class="scan-comment">
                        <span class="scan">10.92万</span>
                        <span class="comment">9823</span>
                      </div>
                    </div>
                  </dd>
                </dl>
              </div>
              <p class="list-btn">更多周边美食，请查看全部</p>
            </div>
          </div>
        </div>

        <div class="world-container">
          <div class="world-box min-width">
            <div class="box-title">
              <h4>玩转世界</h4>
              <a class="more" href="">更多</a>
            </div>
            <div class="grid">
              <dl class="grid-item">
                <dt>
                  <img src="../images/1.jpg">
                </dt>
                <dd>
                  <h4>之最阿萨大的萨达打底</h4>
                  <div class="time-nums">
                    <span class="time">2016.04.23|5天</span>
                    <div class="scan-comment">
                      <span class="scan">10.92万</span>
                      <span class="comment">9823</span>
                    </div>
                  </div>
                  <ul class="tag-list">
                    <li class="tag">户外</li>
                    <li class="tag">境外</li>
                    <li class="tag">户外</li>
                    <li class="tag">境外</li>
                  </ul>
                </dd>
              </dl>
              <dl class="grid-item">
                <dt>
                  <img src="../images/1.jpg">
                </dt>
                <dd>
                  <h4>之最阿萨大的萨达打底</h4>
                  <div class="time-nums">
                    <span class="time">2016.04.23|5天</span>
                    <div class="scan-comment">
                      <span class="scan">10.92万</span>
                      <span class="comment">9823</span>
                    </div>
                  </div>
                  <ul class="tag-list">
                    <li class="tag">户外</li>
                    <li class="tag">境外</li>
                    <li class="tag">户外</li>
                    <li class="tag">境外</li>
                  </ul>
                </dd>
              </dl>
              <dl class="grid-item">
                <dt>
                  <img src="../images/1.jpg">
                </dt>
                <dd>
                  <h4>之最阿萨大的萨达打底</h4>
                  <div class="time-nums">
                    <span class="time">2016.04.23|5天</span>
                    <div class="scan-comment">
                      <span class="scan">10.92万</span>
                      <span class="comment">9823</span>
                    </div>
                  </div>
                  <ul class="tag-list">
                    <li class="tag">户外</li>
                    <li class="tag">境外</li>
                    <li class="tag">户外</li>
                    <li class="tag">境外</li>
                  </ul>
                </dd>
              </dl>
              <dl class="grid-item">
                <dt>
                  <img src="../images/1.jpg">
                </dt>
                <dd>
                  <h4>之最阿萨大的萨达打底</h4>
                  <div class="time-nums">
                    <span class="time">2016.04.23|5天</span>
                    <div class="scan-comment">
                      <span class="scan">10.92万</span>
                      <span class="comment">9823</span>
                    </div>
                  </div>
                  <ul class="tag-list">
                    <li class="tag">户外</li>
                    <li class="tag">境外</li>
                    <li class="tag">户外</li>
                    <li class="tag">境外</li>
                  </ul>
                </dd>
              </dl>
              <dl class="grid-item">
                <dt>
                  <img src="../images/1.jpg">
                </dt>
                <dd>
                  <h4>之最阿萨大的萨达打底</h4>
                  <div class="time-nums">
                    <span class="time">2016.04.23|5天</span>
                    <div class="scan-comment">
                      <span class="scan">10.92万</span>
                      <span class="comment">9823</span>
                    </div>
                  </div>
                  <ul class="tag-list">
                    <li class="tag">户外</li>
                    <li class="tag">境外</li>
                    <li class="tag">户外</li>
                    <li class="tag">境外</li>
                  </ul>
                </dd>
              </dl>
              <dl class="grid-item">
                <dt>
                  <img src="../images/1.jpg">
                </dt>
                <dd>
                  <h4>之最阿萨大的萨达打底</h4>
                  <div class="time-nums">
                    <span class="time">2016.04.23|5天</span>
                    <div class="scan-comment">
                      <span class="scan">10.92万</span>
                      <span class="comment">9823</span>
                    </div>
                  </div>
                  <ul class="tag-list">
                    <li class="tag">户外</li>
                    <li class="tag">境外</li>
                    <li class="tag">户外</li>
                    <li class="tag">境外</li>
                  </ul>
                </dd>
              </dl>
            </div>
          </div>
        </div>

        <div class="best-box min-width">
          <div class="box-title">
            <h4>精彩游记</h4>
            <a class="more" href="">更多</a>
          </div>
          <div class="list">
            <dl class="list-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <div class="tit-time">
                  <h4>车史上的5月22日 法拉利首次参加F1赛事</h4>
                  <span class="time">1分钟前</span>
                </div>
                <ul class="tag-list">
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                </ul>
                <p class="con-txt">【汽车之家  车史上的今天】一级方程式锦标赛汽车之家 车史上的今天。一级方程式锦标赛可以说是赛车运动这中的顶级赛事，这项赛事源自1906年举办的法国汽车俱乐部大奖赛。1948年，法国法国汽车俱乐部大奖赛。1948年，法国</p>
                <div class="tags-nums">
                  <div class="user">
                    <img src="../images/1.jpg">
                    <span>薛之谦</span>
                  </div>
                  <div class="scan-comment">
                    <span class="comment">9823</span>
                    <span class="scan">10.92万</span>
                    <span>2016.05.23 | 4天</span>
                  </div>
                </div>
              </dd>
            </dl>
            <dl class="list-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <div class="tit-time">
                  <h4>车史上的5月22日 法拉利首次参加F1赛事</h4>
                  <span class="time">1分钟前</span>
                </div>
                <ul class="tag-list">
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                </ul>
                <p class="con-txt">【汽车之家  车史上的今天】一级方程式锦标赛汽车之家 车史上的今天。一级方程式锦标赛可以说是赛车运动这中的顶级赛事，这项赛事源自1906年举办的法国汽车俱乐部大奖赛。1948年，法国法国汽车俱乐部大奖赛。1948年，法国</p>
                <div class="tags-nums">
                  <div class="user">
                    <img src="../images/1.jpg">
                    <span>薛之谦</span>
                  </div>
                  <div class="scan-comment">
                    <span class="comment">9823</span>
                    <span class="scan">10.92万</span>
                    <span>2016.05.23 | 4天</span>
                  </div>
                </div>
              </dd>
            </dl>
            <dl class="list-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <div class="tit-time">
                  <h4>车史上的5月22日 法拉利首次参加F1赛事</h4>
                  <span class="time">1分钟前</span>
                </div>
                <ul class="tag-list">
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                </ul>
                <p class="con-txt">【汽车之家  车史上的今天】一级方程式锦标赛汽车之家 车史上的今天。一级方程式锦标赛可以说是赛车运动这中的顶级赛事，这项赛事源自1906年举办的法国汽车俱乐部大奖赛。1948年，法国法国汽车俱乐部大奖赛。1948年，法国</p>
                <div class="tags-nums">
                  <div class="user">
                    <img src="../images/1.jpg">
                    <span>薛之谦</span>
                  </div>
                  <div class="scan-comment">
                    <span class="comment">9823</span>
                    <span class="scan">10.92万</span>
                    <span>2016.05.23 | 4天</span>
                  </div>
                </div>
              </dd>
            </dl>
            <p class="list-btn">更多周边美食，请查看全部</p>
          </div>
        </div>
      </div>
	  </div>
    <script src="../js/lib/common.js"></script>
	  <script src="../js/index.js"></script>
  </body>
</html>