<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>意见反馈</title>
    <meta name="keywords" content="管理标签">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="telephone=no" name="format-detection">
    <meta name="renderer" content="webkit">
    <script src="../js/lib/jquery-2.1.4.js"></script>
    <link rel="stylesheet" href="../css/opinion.css">
  </head>
  <body>
  	<div class="wrap">
      <div class="head">
        <div class="container">
          <ul class="login-register">
            <li>您好！
              <!-- if 未登录 -->
                请<a href="">登录</a>
              <!-- else -->
                Ivy
            </li>
            <li>或
              <!-- if 未登录 -->
                <a href="">注册</a>
              <!-- else -->
                <a href="">退出</a>
            </li>
            <li class="msg">
              <span>消息</span>
              <ul class="msg-con hide">
                <li title="查看论坛回复">查看论坛回复</li>
                <li title="查看评论回复">查看评论回复</li>
                <li title="查看私信">查看私信</li>
                <li title="查看通知">查看通知</li>
                <li title="查看粉丝">查看粉丝</li>
                <li title="查看订单">查看订单</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="main">

  	    <div class="logo_search min-width">
          <p class="logo" title="logo"></p>
          <div class="search-box">
            <div class="search-main">
              <div class="search-input-btn">
                <input class="search-input" type="text" placehold="请输入游记名/目的地">
                <span class="search-btn" title="搜索">搜索</span>
              </div>
              <ul class="tags">
                <li><a href="search_result.html" title="户外">户外</a></li>
                <li><a href="search_result.html" title="蜜月">蜜月</a></li>
                <li><a href="search_result.html" title="境外">境外</a></li>
                <li><a href="search_result.html" title="潜水">潜水</a></li>
                <li><a href="search_result.html" title="滑雪">滑雪</a></li>
                <li><a href="search_result.html" title="自然风光">自然风光</a></li>
                <li><a href="search_result.html" title="户外">户外</a></li>
                <li><a href="search_result.html" title="蜜月">蜜月</a></li>
                <li><a href="search_result.html" title="境外">境外</a></li>
                <li><a href="search_result.html" title="潜水">潜水</a></li>
                <li><a href="search_result.html" title="更多">更多</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="opinion-box min-width">
          <h4 class="opinion-tit" title="欢迎反馈问题，您的意见和建议将会是我们最大的动力！">欢迎反馈问题，您的意见和建议将会是我们最大的动力！</h4>
          <h5 class="opinion-sec" title="我们会把反馈的结果以站内短消息形式发送给您，请及时关注站内短消息。">我们会把反馈的结果以站内短消息形式发送给您，请及时关注站内短消息。</h5>
          <textarea palcehold="汽车之家温馨提示"></textarea>
          <div class="txt-num">还可以输入<em>5000</em>字</div>
          <ul class="emoji-btn">
            <li class="emoji" title="图片">图片</li>
            <li class="btn" title="评论">评论</li>
          </ul>
          <div class="upload-img hide">
            <p class="emoji" title="图片">图片</p>
            <input class="hide" id="upload_file" multiple="multiple" type="file" name="file">
            <ul class="img-list">
              <li class="add"></li>
            </ul>
          </div>
        </div>

        <div class="comment-list min-width">
          <ul class="comment-tit">
            <li title="最新评论">最新评论</li>
          </ul>
          <dl class="comment-content">
            <dt>
              <img src="../images/1.jpg" title="头像">
            </dt>
            <dd>
              <h4 class="title" title="薛之谦">薛之谦</h4>
              <p class="time-floor">
                <span title="2016-04-12 11：21">2016-04-12 11：21</span>
              </p>
            </dd>
            <dd>感觉好棒</dd>
            <dd class="comment-box">
              <div class="content">
                <div class="user">
                  <span class="user-tit"><em>汽车之家</em>05-27 12：29</span>
                  <p class="user-txt">感觉好棒，好想去嗨皮啊啊啊巴拉巴拉巴拉巴拉巴拉... ...</p>
                </div>
              </div>
            </dd>
          </dl>
        </div>

      </div>
      <div class="foot min-width">
        <p>
          <a href="http://www.autohome.com.cn/about/index.htm" target="_blank">关于我们</a>
          <a href="http://www.autohome.com.cn/about/lianxi.htm" target="_blank">联系我们</a>
          <a href="http://special.zhaopin.com/bf/2014/czj041009/sz.html" target="_blank">招贤纳士</a>
          <span class="fline">|</span>
          <a class="footios" href="http://www.autohome.com.cn/apps/1.html" target="_blank">iPhone客户端</a>/
          <a href="http://www.autohome.com.cn/apps/2.html" target="_blank">iPad客户端</a>
          <a class="footand" href="http://www.autohome.com.cn/apps/3.html" target="_blank">Android客户端</a>
          <a class="footwp" href="http://www.autohome.com.cn/apps/8.html" target="_blank">WP客户端</a>
          <a class="footphone" href="http://www.autohome.com.cn/apps/m/" target="_blank">手机版</a>
          <span class="fline">|</span>
          <a class="footauto" href="http://e.weibo.com/qichezhijia" target="_blank">汽车之家</a>
          <span class="fline">|</span>
          <a href="opinion.html" target="_blank">意见反馈</a>
        </p>
        <p>
          <span class="footarial">© 2004-2016 www.autohome.com.cn All Rights Reserved.</span>汽车之家 版权所有
        </p>
      </div>
	  </div>
    <script src="../js/ajaxfileupload.js"></script>
    <script src="../js/lib/common.js"></script>
	  <script src="../js/opinion.js"></script>
  </body>
</html>