<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>意见反馈</title>
    <meta name="keywords" content="管理标签">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="telephone=no" name="format-detection">
    <meta name="renderer" content="webkit">
    <script src="../js/lib/jquery-2.1.4.js"></script>
    <link rel="stylesheet" href="../css/opinion.css">
  </head>
  <body>
  	<div class="wrap">
      <div class="head">
        <div class="container">
          <ul class="login-register">
            <li>您好！
              <!-- if 未登录 -->
                请<a href="">登录</a>
              <!-- else -->
                Ivy
            </li>
            <li>或
              <!-- if 未登录 -->
                <a href="">注册</a>
              <!-- else -->
                <a href="">退出</a>
            </li>
            <li class="msg">
              <span>消息</span>
              <ul class="msg-con hide">
                <li>查看论坛回复</li>
                <li>查看评论回复</li>
                <li>查看私信</li>
                <li>查看通知</li>
                <li>查看粉丝</li>
                <li>查看订单</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="main">

  	    <div class="logo_search min-width">
          <p class="logo">给你最想要的出游信息</p>
          <div class="search-box">
            <div class="search-main">
              <div class="search-input-btn">
                <input class="search-input" type="text" placehold="请输入游记名/目的地">
                <span class="search-btn">搜索</span>
              </div>
              <ul class="tags">
                <li>户外</li>
                <li>蜜月</li>
                <li>境外</li>
                <li>潜水</li>
                <li>滑雪</li>
                <li>自然风光</li>
                <li>户外</li>
                <li>蜜月</li>
                <li>境外</li>
                <li>潜水</li>
                <li>更多</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="opinion-box min-width">
          <h4 class="opinion-tit">欢迎反馈问题，您的意见和建议将会是我们最大的动力！</h4>
          <h5 class="opinion-sec">我们会把反馈的结果以站内短消息形式发送给您，请及时关注站内短消息。</h5>
          <textarea palcehold="汽车之家温馨提示"></textarea>
          <ul class="emoji-btn">
            <li class="emoji">表情</li>
            <li class="btn">评论</li>
          </ul>
        </div>

        <div class="comment-list min-width">
          <ul class="comment-tit">
            <li>最新评论</li>
          </ul>
          <dl class="comment-content">
            <dt>
              <img src="../images/1.jpg">
            </dt>
            <dd>
              <h4 class="title">薛之谦</h4>
              <p class="time-floor">
                <span>2016-04-12 11：21</span>
              </p>
            </dd>
            <dd>感觉好棒</dd>
            <dd class="comment-box">
              <div class="content">
                <div class="user">
                  <span class="user-tit"><em>汽车之家</em>05-27 12：29</span>
                  <p class="user-txt">感觉好棒，好想去嗨皮啊啊啊巴拉巴拉巴拉巴拉巴拉... ...</p>
                </div>
              </div>
            </dd>
          </dl>
        </div>

      </div>
	  </div>
    <script src="../js/lib/common.js"></script>
	  <script src="../js/opinion.js"></script>
  </body>
</html>