<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>我的游记</title>
    <meta name="keywords" content="管理标签">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="telephone=no" name="format-detection">
    <meta name="renderer" content="webkit">
    <script src="../js/lib/jquery-2.1.4.js"></script>
    <link rel="stylesheet" href="../css/personal.css">
  </head>
  <body>
  	<div class="wrap">
      <div class="head">
        <div class="container">
          <ul class="login-register">
            <li>您好！
              <!-- if 未登录 -->
                请<a href="">登录</a>
              <!-- else -->
                Ivy
            </li>
            <li>或
              <!-- if 未登录 -->
                <a href="">注册</a>
              <!-- else -->
                <a href="">退出</a>
            </li>
            <li class="msg">
              <span>消息</span>
              <ul class="msg-con hide">
                <li>查看论坛回复</li>
                <li>查看评论回复</li>
                <li>查看私信</li>
                <li>查看通知</li>
                <li>查看粉丝</li>
                <li>查看订单</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="main">

  	    <h4 class="title">我的游记</h4>
        <ul class="tabs-tit">
          <li class="active">收藏</li>
          <li>游记</li>
          <li>回复</li>
          <li>有用</li>
        </ul>
        <div class="tabs-con favorite">
          <ul class="con-tit">
            <li class="active">收藏的游记</li>
            <li>收藏的段落</li>
          </ul>
          <div class="list">
            <dl class="item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>生活不止诗和远方还有眼前的苟且</h4>
              </dd>
              <dd>
                <span class="time">2016.05.21&nbsp;|&nbsp;5天</span>
                <span class="zan">238.93万</span>
                <span class="view">7209</span>
              </dd>
            </dl>
            <dl class="item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>生活不止诗和远方还有眼前的苟且</h4>
              </dd>
              <dd>
                <p>巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉</p>
              </dd>
            </dl>
          </div>
        </div>
        <div class="tabs-con travels hide">
          <ul class="con-tit">
            <li class="active">已发布的游记</li>
            <li>未发布的游记</li>
          </ul>
          <div class="list">
            <dl class="item">
                <dt>
                  <img src="../images/1.jpg">
                </dt>
                <dd>
                  <h4>生活不止诗和远方还有眼前的苟且</h4>
                </dd>
                <dd>
                  <span class="time">2016.05.21&nbsp;|&nbsp;5天</span>
                  <span class="zan">238.93万</span>
                  <span class="view">7209</span>
                </dd>
            </dl>
            <dl class="item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <p>巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉</p>
              </dd>
            </dl>
          </div>
        </div>
        <div class="tabs-con reply hide">
          <ul class="con-tit">
            <li class="active">收到的回复</li>
            <li>发出的回复</li>
          </ul>
          <div class="list">
            <dl class="item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>
                  <span class="user-name">我的用户名：</span>
                  <span>去哪里了，新加坡还是吉隆坡</span>
                </h4>
                <p>回复Niscoo的游记<span class="con">《生活不止诗和远方》</span></p>
                <p>5月20日 9：14 <a class="check" href="">查看</a></p>
              </dd>
            </dl>
            <dl class="item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>
                  <span class="user-name">我的用户名：</span>
                  <span>去哪里了，新加坡还是吉隆坡</span>
                </h4>
                <p>回复Niscoo的游记<span class="con">《生活不止诗和远方》</span></p>
                <p>5月20日 9：14 <a class="check" href="">查看</a></p>
              </dd>
            </dl>
          </div>
        </div>
        <div class="tabs-con used hide">
          <ul class="con-tit">
            <li class="active">收到的有用</li>
            <li>发出的有用</li>
          </ul>
          <div class="list">
            <dl class="item">
                <dt>
                  <img src="../images/1.jpg">
                </dt>
                <dd>
                  <h4>生活不止诗和远方还有眼前的苟且</h4>
                </dd>
                <dd>
                  <p>巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉</p>
                </dd>
                <dd>
                  <span class="help">帮助了388个小伙伴</span>
                </dd>
            </dl>
            <dl class="item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <p>巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉</p>
              </dd>
            </dl>
          </div>
        </div>
    
      </div>
      <div class="foot min-width">
        <p>
          <a href="http://www.autohome.com.cn/about/index.htm" target="_blank">关于我们</a>
          <a href="http://www.autohome.com.cn/about/lianxi.htm" target="_blank">联系我们</a>
          <a href="http://special.zhaopin.com/bf/2014/czj041009/sz.html" target="_blank">招贤纳士</a>
          <span class="fline">|</span>
          <a class="footios" href="http://www.autohome.com.cn/apps/1.html" target="_blank">iPhone客户端</a>/
          <a href="http://www.autohome.com.cn/apps/2.html" target="_blank">iPad客户端</a>
          <a class="footand" href="http://www.autohome.com.cn/apps/3.html" target="_blank">Android客户端</a>
          <a class="footwp" href="http://www.autohome.com.cn/apps/8.html" target="_blank">WP客户端</a>
          <a class="footphone" href="http://www.autohome.com.cn/apps/m/" target="_blank">手机版</a>
          <span class="fline">|</span>
          <a class="footauto" href="http://e.weibo.com/qichezhijia" target="_blank">汽车之家</a>
          <span class="fline">|</span>
          <a href="opinion.html" target="_blank">意见反馈</a>
        </p>
        <p>
          <span class="footarial">© 2004-2016 www.autohome.com.cn All Rights Reserved.</span>汽车之家 版权所有
        </p>
      </div>
	  </div>
    <script src="../js/lib/common.js"></script>
	  <script src="../js/personal.js"></script>
  </body>
</html>