<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>搜索结果——关键字</title>
    <meta name="keywords" content="管理标签">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="telephone=no" name="format-detection">
    <meta name="renderer" content="webkit">
    <script src="../js/lib/jquery-2.1.4.js"></script>
    <script src="../js/lib/jquery.flexslider-min.js"></script>
    <link rel="stylesheet" href="../css/recommend.css">
  </head>
  <body>
  	<div class="wrap">
      <div class="head">
        <div class="container">
          <ul class="login-register">
            <li>您好！
              <!-- if 未登录 -->
                请<a href="">登录</a>
              <!-- else -->
                Ivy
            </li>
            <li>或
              <!-- if 未登录 -->
                <a href="">注册</a>
              <!-- else -->
                <a href="">退出</a>
            </li>
            <li class="msg">
              <span>消息</span>
              <ul class="msg-con hide">
                <li>查看论坛回复</li>
                <li>查看评论回复</li>
                <li>查看私信</li>
                <li>查看通知</li>
                <li>查看粉丝</li>
                <li>查看订单</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="main">

        <div class="logo_search min-width">
          <p class="logo" title="logo"></p>
          <div class="search-box">
            <div class="search-main">
              <div class="search-input-btn">
                <input class="search-input" type="text" placehold="请输入游记名/目的地">
                <span class="search-btn cursor" title="搜索">搜索</span>
              </div>
              <ul class="tags">
                <li><a href="search_result.html" title="户外">户外</a></li>
                <li><a href="search_result.html" title="蜜月">蜜月</a></li>
                <li><a href="search_result.html" title="境外">境外</a></li>
                <li><a href="search_result.html" title="潜水">潜水</a></li>
                <li><a href="search_result.html" title="滑雪">滑雪</a></li>
                <li><a href="search_result.html" title="自然风光">自然风光</a></li>
                <li><a href="search_result.html" title="户外">户外</a></li>
                <li><a href="search_result.html" title="蜜月">蜜月</a></li>
                <li><a href="search_result.html" title="境外">境外</a></li>
                <li><a href="search_result.html" title="潜水">潜水</a></li>
                <li><a href="search_result.html" title="更多">更多</a></li>
              </ul>
            </div>
          </div>
        </div>
        
        <ul class="crumbs-white min-width">
          <li title="当前位置">当前位置：</li>
          <li><a href="" title="游记">游记</a>&nbsp;>&nbsp;</li>
          <li title="搜索">搜索</li>
        </ul>
        
        <div class="world-box min-width">
          <div class="box-title">
            <h4 title="小编推荐">小编推荐</h4>
            <span class="date" title="5-24">5-24</span>
          </div>
          <div class="grid">
            <dl class="grid-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4 title="之最阿萨大的萨达打底">之最阿萨大的萨达打底</h4>
                <div class="time-nums">
                  <span class="time" title="2016.04.23|5天">2016.04.23|5天</span>
                  <div class="scan-comment">
                    <span class="comment" title="总评论量9823">9823</span>
                    <span class="scan" title="总浏览量10.92万">10.92万</span>
                  </div>
                </div>
                <ul class="tag-list">
                  <li class="tag" title="户外">户外</li>
                  <li class="tag" title="境外">境外</li>
                  <li class="tag" title="户外">户外</li>
                  <li class="tag" title="境外">境外</li>
                </ul>
              </dd>
            </dl>
            <dl class="grid-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4 title="之最阿萨大的萨达打底">之最阿萨大的萨达打底</h4>
                <div class="time-nums">
                  <span class="time" title="2016.04.23|5天">2016.04.23|5天</span>
                  <div class="scan-comment">
                    <span class="comment" title="总评论量9823">9823</span>
                    <span class="scan" title="总浏览量10.92万">10.92万</span>
                  </div>
                </div>
                <ul class="tag-list">
                  <li class="tag" title="户外">户外</li>
                  <li class="tag" title="境外">境外</li>
                  <li class="tag" title="户外">户外</li>
                  <li class="tag" title="境外">境外</li>
                </ul>
              </dd>
            </dl>
            <dl class="grid-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4 title="之最阿萨大的萨达打底">之最阿萨大的萨达打底</h4>
                <div class="time-nums">
                  <span class="time" title="2016.04.23|5天">2016.04.23|5天</span>
                  <div class="scan-comment">
                    <span class="comment" title="总评论量9823">9823</span>
                    <span class="scan" title="总浏览量10.92万">10.92万</span>
                  </div>
                </div>
                <ul class="tag-list">
                  <li class="tag" title="户外">户外</li>
                  <li class="tag" title="境外">境外</li>
                  <li class="tag" title="户外">户外</li>
                  <li class="tag" title="境外">境外</li>
                </ul>
              </dd>
            </dl>
            <dl class="grid-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4 title="之最阿萨大的萨达打底">之最阿萨大的萨达打底</h4>
                <div class="time-nums">
                  <span class="time" title="2016.04.23|5天">2016.04.23|5天</span>
                  <div class="scan-comment">
                    <span class="comment" title="总评论量9823">9823</span>
                    <span class="scan" title="总浏览量10.92万">10.92万</span>
                  </div>
                </div>
                <ul class="tag-list">
                  <li class="tag" title="户外">户外</li>
                  <li class="tag" title="境外">境外</li>
                  <li class="tag" title="户外">户外</li>
                  <li class="tag" title="境外">境外</li>
                </ul>
              </dd>
            </dl>
            <dl class="grid-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4 title="之最阿萨大的萨达打底">之最阿萨大的萨达打底</h4>
                <div class="time-nums">
                  <span class="time" title="2016.04.23|5天">2016.04.23|5天</span>
                  <div class="scan-comment">
                    <span class="comment" title="总评论量9823">9823</span>
                    <span class="scan" title="总浏览量10.92万">10.92万</span>
                  </div>
                </div>
                <ul class="tag-list">
                  <li class="tag" title="户外">户外</li>
                  <li class="tag" title="境外">境外</li>
                  <li class="tag" title="户外">户外</li>
                  <li class="tag" title="境外">境外</li>
                </ul>
              </dd>
            </dl>
            <dl class="grid-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4 title="之最阿萨大的萨达打底">之最阿萨大的萨达打底</h4>
                <div class="time-nums">
                  <span class="time" title="2016.04.23|5天">2016.04.23|5天</span>
                  <div class="scan-comment">
                    <span class="comment" title="总评论量9823">9823</span>
                    <span class="scan" title="总浏览量10.92万">10.92万</span>
                  </div>
                </div>
                <ul class="tag-list">
                  <li class="tag" title="户外">户外</li>
                  <li class="tag" title="境外">境外</li>
                  <li class="tag" title="户外">户外</li>
                  <li class="tag" title="境外">境外</li>
                </ul>
              </dd>
            </dl>
          </div>
        </div>

        <div class="world-box min-width">
          <div class="box-title">
            <h4>小编推荐</h4>
            <span class="date">5-23</span>
          </div>
          <div class="grid">
            <dl class="grid-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>之最阿萨大的萨达打底</h4>
                <div class="time-nums">
                  <span class="time">2016.04.23|5天</span>
                  <div class="scan-comment">
                    <span class="scan">10.92万</span>
                    <span class="comment">9823</span>
                  </div>
                </div>
                <ul class="tag-list">
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                </ul>
              </dd>
            </dl>
            <dl class="grid-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>之最阿萨大的萨达打底</h4>
                <div class="time-nums">
                  <span class="time">2016.04.23|5天</span>
                  <div class="scan-comment">
                    <span class="scan">10.92万</span>
                    <span class="comment">9823</span>
                  </div>
                </div>
                <ul class="tag-list">
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                </ul>
              </dd>
            </dl>
            <dl class="grid-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>之最阿萨大的萨达打底</h4>
                <div class="time-nums">
                  <span class="time">2016.04.23|5天</span>
                  <div class="scan-comment">
                    <span class="scan">10.92万</span>
                    <span class="comment">9823</span>
                  </div>
                </div>
                <ul class="tag-list">
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                </ul>
              </dd>
            </dl>
            <dl class="grid-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>之最阿萨大的萨达打底</h4>
                <div class="time-nums">
                  <span class="time">2016.04.23|5天</span>
                  <div class="scan-comment">
                    <span class="scan">10.92万</span>
                    <span class="comment">9823</span>
                  </div>
                </div>
                <ul class="tag-list">
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                </ul>
              </dd>
            </dl>
            <dl class="grid-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>之最阿萨大的萨达打底</h4>
                <div class="time-nums">
                  <span class="time">2016.04.23|5天</span>
                  <div class="scan-comment">
                    <span class="scan">10.92万</span>
                    <span class="comment">9823</span>
                  </div>
                </div>
                <ul class="tag-list">
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                </ul>
              </dd>
            </dl>
            <dl class="grid-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>之最阿萨大的萨达打底</h4>
                <div class="time-nums">
                  <span class="time">2016.04.23|5天</span>
                  <div class="scan-comment">
                    <span class="scan">10.92万</span>
                    <span class="comment">9823</span>
                  </div>
                </div>
                <ul class="tag-list">
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                </ul>
              </dd>
            </dl>
          </div>
        </div>

      </div>
      <div class="foot min-width">
        <p>
          <a href="http://www.autohome.com.cn/about/index.htm" target="_blank">关于我们</a>
          <a href="http://www.autohome.com.cn/about/lianxi.htm" target="_blank">联系我们</a>
          <a href="http://special.zhaopin.com/bf/2014/czj041009/sz.html" target="_blank">招贤纳士</a>
          <span class="fline">|</span>
          <a class="footios" href="http://www.autohome.com.cn/apps/1.html" target="_blank">iPhone客户端</a>/
          <a href="http://www.autohome.com.cn/apps/2.html" target="_blank">iPad客户端</a>
          <a class="footand" href="http://www.autohome.com.cn/apps/3.html" target="_blank">Android客户端</a>
          <a class="footwp" href="http://www.autohome.com.cn/apps/8.html" target="_blank">WP客户端</a>
          <a class="footphone" href="http://www.autohome.com.cn/apps/m/" target="_blank">手机版</a>
          <span class="fline">|</span>
          <a class="footauto" href="http://e.weibo.com/qichezhijia" target="_blank">汽车之家</a>
          <span class="fline">|</span>
          <a href="opinion.html" target="_blank">意见反馈</a>
        </p>
        <p>
          <span class="footarial">© 2004-2016 www.autohome.com.cn All Rights Reserved.</span>汽车之家 版权所有
        </p>
      </div>
	  </div>
    <script src="../js/lib/common.js"></script>
	  <script src="../js/recommend.js"></script>
  </body>
</html>