<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>搜索结果——关键字</title>
    <meta name="keywords" content="管理标签">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="telephone=no" name="format-detection">
    <meta name="renderer" content="webkit">
    <script src="../js/lib/jquery-2.1.4.js"></script>
    <script src="../js/lib/jquery.flexslider-min.js"></script>
    <link rel="stylesheet" href="../css/recommend.css">
  </head>
  <body>
  	<div class="wrap">
      <div class="head">
        <div class="container">
          <ul class="left">
            <li class="title">我的汽车之家</li>
            <li class="net">网站</li>
            <li class="square">广场</li>
            <li class="apply">应用</li>
          </ul>
          <ul class="right">
            <li>阿凡达童鞋</li>
            <li>消息</li>
            <li>设置</li>
          </ul>
        </div>
      </div>
      <div class="main">

        <div class="logo_search min-width">
          <p class="logo">给你最想要的出游信息</p>
          <div class="search-box">
            <div class="search-main">
              <div class="search-input-btn">
                <input class="search-input" type="text" placehold="请输入游记名/目的地">
                <span class="search-btn">搜索</span>
              </div>
              <ul class="tags">
                <li>户外</li>
                <li>蜜月</li>
                <li>境外</li>
                <li>潜水</li>
                <li>滑雪</li>
                <li>自然风光</li>
                <li>户外</li>
                <li>蜜月</li>
                <li>境外</li>
                <li>潜水</li>
                <li>更多</li>
              </ul>
            </div>
          </div>
        </div>
        
        <ul class="crumbs-white min-width">
          <li>当前位置：</li>
          <li><a href="">游记</a>&nbsp;>&nbsp;</li>
          <li>搜索</li>
        </ul>
        
        <div class="world-box min-width">
          <div class="box-title">
            <h4>小编推荐</h4>
            <span class="date">5-24</span>
          </div>
          <div class="grid">
            <dl class="grid-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>之最阿萨大的萨达打底</h4>
                <div class="time-nums">
                  <span class="time">2016.04.23|5天</span>
                  <div class="scan-comment">
                    <span class="scan">10.92万</span>
                    <span class="comment">9823</span>
                  </div>
                </div>
                <ul class="tag-list">
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                </ul>
              </dd>
            </dl>
            <dl class="grid-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>之最阿萨大的萨达打底</h4>
                <div class="time-nums">
                  <span class="time">2016.04.23|5天</span>
                  <div class="scan-comment">
                    <span class="scan">10.92万</span>
                    <span class="comment">9823</span>
                  </div>
                </div>
                <ul class="tag-list">
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                </ul>
              </dd>
            </dl>
            <dl class="grid-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>之最阿萨大的萨达打底</h4>
                <div class="time-nums">
                  <span class="time">2016.04.23|5天</span>
                  <div class="scan-comment">
                    <span class="scan">10.92万</span>
                    <span class="comment">9823</span>
                  </div>
                </div>
                <ul class="tag-list">
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                </ul>
              </dd>
            </dl>
            <dl class="grid-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>之最阿萨大的萨达打底</h4>
                <div class="time-nums">
                  <span class="time">2016.04.23|5天</span>
                  <div class="scan-comment">
                    <span class="scan">10.92万</span>
                    <span class="comment">9823</span>
                  </div>
                </div>
                <ul class="tag-list">
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                </ul>
              </dd>
            </dl>
            <dl class="grid-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>之最阿萨大的萨达打底</h4>
                <div class="time-nums">
                  <span class="time">2016.04.23|5天</span>
                  <div class="scan-comment">
                    <span class="scan">10.92万</span>
                    <span class="comment">9823</span>
                  </div>
                </div>
                <ul class="tag-list">
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                </ul>
              </dd>
            </dl>
            <dl class="grid-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>之最阿萨大的萨达打底</h4>
                <div class="time-nums">
                  <span class="time">2016.04.23|5天</span>
                  <div class="scan-comment">
                    <span class="scan">10.92万</span>
                    <span class="comment">9823</span>
                  </div>
                </div>
                <ul class="tag-list">
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                </ul>
              </dd>
            </dl>
          </div>
        </div>

        <div class="world-box min-width">
          <div class="box-title">
            <h4>小编推荐</h4>
            <span class="date">5-23</span>
          </div>
          <div class="grid">
            <dl class="grid-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>之最阿萨大的萨达打底</h4>
                <div class="time-nums">
                  <span class="time">2016.04.23|5天</span>
                  <div class="scan-comment">
                    <span class="scan">10.92万</span>
                    <span class="comment">9823</span>
                  </div>
                </div>
                <ul class="tag-list">
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                </ul>
              </dd>
            </dl>
            <dl class="grid-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>之最阿萨大的萨达打底</h4>
                <div class="time-nums">
                  <span class="time">2016.04.23|5天</span>
                  <div class="scan-comment">
                    <span class="scan">10.92万</span>
                    <span class="comment">9823</span>
                  </div>
                </div>
                <ul class="tag-list">
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                </ul>
              </dd>
            </dl>
            <dl class="grid-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>之最阿萨大的萨达打底</h4>
                <div class="time-nums">
                  <span class="time">2016.04.23|5天</span>
                  <div class="scan-comment">
                    <span class="scan">10.92万</span>
                    <span class="comment">9823</span>
                  </div>
                </div>
                <ul class="tag-list">
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                </ul>
              </dd>
            </dl>
            <dl class="grid-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>之最阿萨大的萨达打底</h4>
                <div class="time-nums">
                  <span class="time">2016.04.23|5天</span>
                  <div class="scan-comment">
                    <span class="scan">10.92万</span>
                    <span class="comment">9823</span>
                  </div>
                </div>
                <ul class="tag-list">
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                </ul>
              </dd>
            </dl>
            <dl class="grid-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>之最阿萨大的萨达打底</h4>
                <div class="time-nums">
                  <span class="time">2016.04.23|5天</span>
                  <div class="scan-comment">
                    <span class="scan">10.92万</span>
                    <span class="comment">9823</span>
                  </div>
                </div>
                <ul class="tag-list">
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                </ul>
              </dd>
            </dl>
            <dl class="grid-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>之最阿萨大的萨达打底</h4>
                <div class="time-nums">
                  <span class="time">2016.04.23|5天</span>
                  <div class="scan-comment">
                    <span class="scan">10.92万</span>
                    <span class="comment">9823</span>
                  </div>
                </div>
                <ul class="tag-list">
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                  <li class="tag">户外</li>
                  <li class="tag">境外</li>
                </ul>
              </dd>
            </dl>
          </div>
        </div>

      </div>
	  </div>
    <script src="../js/lib/common.js"></script>
	  <script src="../js/recommend.js"></script>
  </body>
</html>