<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>查看周边</title>
    <meta name="keywords" content="管理标签">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="telephone=no" name="format-detection">
    <meta name="renderer" content="webkit">
    <script src="../js/lib/zepto.min.js"></script>
    <link rel="stylesheet" href="../css/search_circum.css">
  </head>
  <body>
  	<div class="wrap">
      <div class="head">
        <div class="container">
          <ul class="left">
            <li class="title">我的汽车之家</li>
            <li class="net">网站</li>
            <li class="square">广场</li>
            <li class="apply">应用</li>
          </ul>
          <ul class="right">
            <li>阿凡达童鞋</li>
            <li>消息</li>
            <li>设置</li>
          </ul>
        </div>
      </div>
      <div class="main">

        <div class="logo_search min-width">
          <p class="logo">给你最想要的出游信息</p>
          <div class="search-box">
            <div class="search-main">
              <div class="search-input-btn">
                <input class="search-input" type="text" placehold="请输入游记名/目的地">
                <span class="search-btn">搜索</span>
              </div>
              <ul class="tags">
                <li>户外</li>
                <li>蜜月</li>
                <li>境外</li>
                <li>潜水</li>
                <li>滑雪</li>
                <li>自然风光</li>
                <li>户外</li>
                <li>蜜月</li>
                <li>境外</li>
                <li>潜水</li>
                <li>更多</li>
              </ul>
            </div>
          </div>
        </div>

        <ul class="crumbs-white min-width">
          <li>当前位置：</li>
          <li><a href="">游记</a>&nbsp;>&nbsp;</li>
          <li><a href="">周边推荐</a>&nbsp;>&nbsp;</li>
          <li>玩</li>
        </ul>

        <div class="best-new min-width">
          <ul class="title">
            <li>最热</li>
            <li>|</li>
            <li>最新</li>
          </ul>
          <div class="list">
            <dl class="list-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>车史上的5月22日 法拉利首次参加F1赛事</h4>
                <p class="con-txt">【汽车之家  车史上的今天】一级方程式锦标赛汽车之家 车史上的今天。一级方程式锦标赛可以说是赛车运动这中的顶级赛事，这项赛事源自1906年举办的法国汽车俱乐部大奖赛。1948年，法国法国汽车俱乐部大奖赛。1948年，法国</p>
                <div class="tags-nums">
                  <ul class="tag-list">
                    <li class="tag">户外</li>
                    <li class="tag">境外</li>
                    <li class="tag">户外</li>
                    <li class="tag">境外</li>
                  </ul>
                  <div class="scan-comment">
                    <span class="scan">10.92万</span>
                    <span class="comment">9823</span>
                  </div>
                </div>
              </dd>
            </dl>
            <dl class="list-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>车史上的5月22日 法拉利首次参加F1赛事</h4>
                <p class="con-txt">【汽车之家  车史上的今天】一级方程式锦标赛汽车之家 车史上的今天。一级方程式锦标赛可以说是赛车运动这中的顶级赛事，这项赛事源自1906年举办的法国汽车俱乐部大奖赛。1948年，法国法国汽车俱乐部大奖赛。1948年，法国</p>
                <div class="tags-nums">
                  <ul class="tag-list">
                    <li class="tag">户外</li>
                    <li class="tag">境外</li>
                    <li class="tag">户外</li>
                    <li class="tag">境外</li>
                  </ul>
                  <div class="scan-comment">
                    <span class="scan">10.92万</span>
                    <span class="comment">9823</span>
                  </div>
                </div>
              </dd>
            </dl>
            <dl class="list-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>车史上的5月22日 法拉利首次参加F1赛事</h4>
                <p class="con-txt">【汽车之家  车史上的今天】一级方程式锦标赛汽车之家 车史上的今天。一级方程式锦标赛可以说是赛车运动这中的顶级赛事，这项赛事源自1906年举办的法国汽车俱乐部大奖赛。1948年，法国法国汽车俱乐部大奖赛。1948年，法国</p>
                <div class="tags-nums">
                  <ul class="tag-list">
                    <li class="tag">户外</li>
                    <li class="tag">境外</li>
                    <li class="tag">户外</li>
                    <li class="tag">境外</li>
                  </ul>
                  <div class="scan-comment">
                    <span class="scan">10.92万</span>
                    <span class="comment">9823</span>
                  </div>
                </div>
              </dd>
            </dl>
            <dl class="list-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>车史上的5月22日 法拉利首次参加F1赛事</h4>
                <p class="con-txt">【汽车之家  车史上的今天】一级方程式锦标赛汽车之家 车史上的今天。一级方程式锦标赛可以说是赛车运动这中的顶级赛事，这项赛事源自1906年举办的法国汽车俱乐部大奖赛。1948年，法国法国汽车俱乐部大奖赛。1948年，法国</p>
                <div class="tags-nums">
                  <ul class="tag-list">
                    <li class="tag">户外</li>
                    <li class="tag">境外</li>
                    <li class="tag">户外</li>
                    <li class="tag">境外</li>
                  </ul>
                  <div class="scan-comment">
                    <span class="scan">10.92万</span>
                    <span class="comment">9823</span>
                  </div>
                </div>
              </dd>
            </dl>
            <dl class="list-item">
              <dt>
                <img src="../images/1.jpg">
              </dt>
              <dd>
                <h4>车史上的5月22日 法拉利首次参加F1赛事</h4>
                <p class="con-txt">【汽车之家  车史上的今天】一级方程式锦标赛汽车之家 车史上的今天。一级方程式锦标赛可以说是赛车运动这中的顶级赛事，这项赛事源自1906年举办的法国汽车俱乐部大奖赛。1948年，法国法国汽车俱乐部大奖赛。1948年，法国</p>
                <div class="tags-nums">
                  <ul class="tag-list">
                    <li class="tag">户外</li>
                    <li class="tag">境外</li>
                    <li class="tag">户外</li>
                    <li class="tag">境外</li>
                  </ul>
                  <div class="scan-comment">
                    <span class="scan">10.92万</span>
                    <span class="comment">9823</span>
                  </div>
                </div>
              </dd>
            </dl>
          </div>
        </div>

      </div>
	  </div>
    <script src="../js/lib/common.js"></script>
	  <script src="../js/search_circum.js"></script>
  </body>
</html>